1.0RC1/dataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:iwxxm="http://icao.int/iwxxm/1.0RC1" targetNamespace="http://icao.int/iwxxm/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0RC1">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <annotation>
      <documentation>Reusable data types used across multiple packages.  In contrast to the Common package,
         the Data Types package includes basic constructs not directly associated with the
         aviation or weather domains.  This package includes basic constructs not available
         from ISO or other authorities.
      </documentation>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <include schemaLocation="iwxxm.xsd"/>
   <element name="LanguageString" substitutionGroup="gml:AbstractObject" type="iwxxm:LanguageStringType">
      <annotation>
         <documentation>Text string with the language of the string identified as recommended in the XML 1.0
            W3C Recommendation, section 2.12.  Identifies an ISO language and optional country
            code.  The language is identified by either a 2-letter ISO 639-1 or 3-letter ISO 639-2T.
            The country portion is optional and identified by ISO 3166.  This class is modeled
            after the xml:lang attribute but is intended to be mapped into existing, appropriate
            representations in each format (XML, JSON, etc.).  Combined language and country code
            examples: "en-us", "en-pg", "en", "fr", "deu-at"  This type is developed as an alternative
            to importing ISO 19115/19139, which are packages of significant size.  
         </documentation>
      </annotation>
   </element>
   <complexType name="LanguageStringType">
      <sequence>
         <element maxOccurs="1" minOccurs="0" name="country" type="string">
            <annotation>
               <documentation>Optional ISO country code identified by ISO 3166  This attribute is modeled after
                  the xml:lang attribute but is intended to be mapped into existing, appropriate representations
                  in each format (XML, JSON, etc.).  Examples: "us", "pg", "at"
               </documentation>
            </annotation>
         </element>
         <element name="lang" type="string">
            <annotation>
               <documentation>The ISO language identified by either a 2-letter ISO 639-1 or 3-letter ISO 639-2T.
                  Examples: "en", "fr", "deu"
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="LanguageStringPropertyType">
      <sequence>
         <element ref="iwxxm:LanguageString"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>