1.0RC1/metarSpeci.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:iwxxm="http://icao.int/iwxxm/1.0RC1" xmlns:met-basic="http://data.wmo.int/def/met-basic/1.0RC1" xmlns:om="http://www.opengis.net/om/2.0" xmlns:saf="http://icao.int/saf/1.0RC1" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" xmlns:metce="http://data.wmo.int/def/metce/1.0RC1" targetNamespace="http://icao.int/iwxxm/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0RC1">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <annotation>
      <documentation>METAR and SPECI reporting constructs as defined in ICAO Annex 3.  METAR and SPECI
         reports include identical information but are issued for different purposes.  METAR
         reports are routine observations made at an aerodrome throughout the day.  METAR observations
         are made (and distributed) at intervals of one hour or, if so determined by regional
         air navigation agreement, at intervals of one half-hour.   SPECI reports are special
         (i.e., non-routine) observation made at an aerodrome as needed. SPECI observations
         are made (and distributed) in accordance with criteria established by the meteorological
         authority, in consultation with the appropriate ATS authority, operators and others
         concerned. 
      </documentation>
      <appinfo>
         <sch:title xmlns:sch="http://purl.oclc.org/dsdl/schematron">Schematron validation</sch:title>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="opm" uri="http://data.wmo.int/def/opm/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="metce" uri="http://data.wmo.int/def/metce/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="saf" uri="http://icao.int/saf/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="iwxxm" uri="http://icao.int/iwxxm/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sam" uri="http://www.opengis.net/sampling/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sams" uri="http://www.opengis.net/samplingSpatial/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="om" uri="http://www.opengis.net/om/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="gml" uri="http://www.opengis.net/gml/3.2"/>
      </appinfo>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <import namespace="http://data.wmo.int/def/met-basic/1.0RC1" schemaLocation="http://schemas.wmo.int/met-basic/1.0RC1/meteorologicalBasicTypes.xsd"/>
   <import namespace="http://icao.int/saf/1.0RC1" schemaLocation="http://schemas.wmo.int/saf/1.0RC1/saf.xsd"/>
   <import namespace="http://data.wmo.int/def/metce/1.0RC1" schemaLocation="http://schemas.wmo.int/metce/1.0RC1/metce.xsd"/>
   <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
   <import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
   <include schemaLocation="iwxxm.xsd"/>
   <element name="MeteorologicalAerodromeObservation" substitutionGroup="om:OM_Observation" type="iwxxm:MeteorologicalAerodromeObservationType">
      <annotation>
         <documentation>Class MeteorologicalAerodromeObservation (a subclass of WMO::ComplexSamplingMeasurement)
            is intended for use where the observation event is concerned with the evaluation of
            multiple observed (as opposed to forecast) measurands at a specified Aerodrome. The
            result of this observation type shall refer to an entity of type MeteorologicalAerodromeObservationRecord.
            ComplexSamplingMeasurement enforces the sampled feature be an Aerodrome.    MeteorologicalAerodromeObservation
            has a sister Class for forecast information at an Aerodrome: MeteorologicalAerodromeTrendForecast.
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="MeteorologicalAerodromeObservation1">
               <sch:rule context="//iwxxm:observation/om:OM_Observation">
                  <sch:assert test="(if(string(om:featureOfInterest//sam:sampledFeature/@xlink:href) ne '') then (contains(string(om:featureOfInterest//sam:sampledFeature/@xlink:href), 'aerodrome')) else (empty(distinct-values(for $xlink-href in om:featureOfInterest/@xlink:href return contains(string(//sams:SF_SpatialSamplingFeature[concat('#', @gml:id) eq $xlink-href]/sam:sampledFeature/@xlink:href), 'aerodrome'))[.=false()])))">MeteorologicalAerodromeObservation: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="MeteorologicalAerodromeObservation2">
               <sch:rule context="//iwxxm:observation/om:OM_Observation">
                  <sch:assert test="(exists(om:result/iwxxm:MeteorologicalAerodromeObservationRecord))">MeteorologicalAerodromeObservation: Result should be of appropriate type</sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="MeteorologicalAerodromeObservationType">
      <complexContent>
         <extension base="om:OM_ObservationType">
            <sequence>
               <element name="result" type="iwxxm:MeteorologicalAerodromeObservationRecordPropertyType"/>
               <element name="featureOfInterest" type="sams:SF_SpatialSamplingFeaturePropertyType"/>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="MeteorologicalAerodromeObservationPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:MeteorologicalAerodromeObservation"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="MeteorologicalAerodromeTrendForecast" substitutionGroup="om:OM_Observation" type="iwxxm:MeteorologicalAerodromeTrendForecastType">
      <annotation>
         <documentation>Class MeteorologicalAerodromeTrendForecast (a subclass of WMO::ComplexSamplingMeasurement)
            is intended for use where the observation event is concerned with the evaluation of
            multiple forecast measurands at a specified Aerodrome. The result of this observation
            type shall refer to an entity of type MeteorologicalAerodromeTrendForecastRecord.
            MeteorologicalAerodromeTrendForecast additionally enforces that the sampled feature
            must be an Aerodrome  MeteorologicalAerodromeTrendForecasts are reported in surface
            observation reports such as SPECI and METAR. MeteorologicalAerodromeTrendForecast
            has a sister class for trend forecast information at an Aerodrome (MeteorologicalAerodromeObservation)
            which is also reported on a METAR and SPECI for observed phenomena.  This class is
            also related but not identical to MeteorologicalAerodromeForecast which is reported
            on a TAF - conditions reported in trend forecasts in METAR/SPECI differ from forecast
            groups in a TAF.
         </documentation>
      </annotation>
   </element>
   <complexType name="MeteorologicalAerodromeTrendForecastType">
      <complexContent>
         <extension base="om:OM_ObservationType">
            <sequence>
               <element name="result" type="iwxxm:MeteorologicalAerodromeTrendForecastRecordPropertyType"/>
               <element name="featureOfInterest" type="sams:SF_SpatialSamplingFeaturePropertyType"/>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="MeteorologicalAerodromeTrendForecastPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:MeteorologicalAerodromeTrendForecast"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="MeteorologicalAerodromeObservationReport" substitutionGroup="gml:AbstractGML" type="iwxxm:MeteorologicalAerodromeObservationReportType">
      <annotation>
         <documentation>A report of observed and trend forecast weather phenomenon from the surface near an
            aerodrome.  This is a shared superclass for METAR and SPECI reports, which have identical
            reported information.
         </documentation>
      </annotation>
   </element>
   <complexType name="MeteorologicalAerodromeObservationReportType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element maxOccurs="1" minOccurs="0" name="humanReadableText" type="iwxxm:LanguageStringPropertyType">
                  <annotation>
                     <documentation>Human-readable, descriptive text that cannot be sensibly represented in any other
                        form.  This report element encapsulates the human-generated text that is intended
                        for other downstream human recipients.  All other elements of the report capture machine-readable
                        information that can be anticipated in advance as part of the reporting structure.
                        It is not valid to include any machine-readable information or extended content in
                        this text under any circumstances. Human-readable text may be considered opaque to
                        parsing software and should be used minimally.  This text is not to be confused with
                        Traditional Alphanumeric Code (TAC) form remarks ("RMK"), which have been used for
                        many purposes beyond human-readable text.
                     </documentation>
                  </annotation>
               </element>
               <element name="observation" type="om:OM_ObservationPropertyType">
                  <annotation>
                     <documentation>The observation which resulted in the current meteorological conditions at an aerodrome</documentation>
                  </annotation>
               </element>
               <element maxOccurs="3" minOccurs="0" name="trendForecast" type="om:OM_ObservationPropertyType">
                  <annotation>
                     <documentation>The process that results in a trend forecast</documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="automatedStation" type="boolean"/>
            <attribute name="status" type="iwxxm:MeteorologicalAerodromeReportStatusType" use="required"/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="MeteorologicalAerodromeObservationReportPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:MeteorologicalAerodromeObservationReport"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="SPECI" substitutionGroup="iwxxm:MeteorologicalAerodromeObservationReport" type="iwxxm:SPECIType">
      <annotation>
         <documentation>A special (i.e., non-routine) observation made at an aerodrome as needed. SPECI observations
            are made (and distributed) in accordance with criteria established by the meteorological
            authority, in consultation with the appropriate ATS authority, operators and others
            concerned.   The information contained in METAR and SPECI is identical.  SPECI is
            issued when conditions merit a non-routine report on conditions at an aerodrome. 
            SPECI reports are used for dissemination beyond the aerodrome of origin (mainly intended
            for flight planning, VOLMET broadcasts and D-VOLMET) unless METAR are issued at half-hourly
            intervals.  SPECI shall be issued following the resumption of the issuance of METAR,
            as necessary, at aerodromes that are not operational throughout 24 hours in accordance
            with ICAO Annex 3 Section 4.3.1.  See ICAO Annex 3 Table A3-2
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="SPECI1">
               <sch:rule context="//iwxxm:SPECI">
                  <sch:assert test="(empty(distinct-values(for $trend-forecast in //iwxxm:trendForecast return((deep-equal(//iwxxm:observation/om:OM_Observation/om:featureOfInterest//sam:sampledFeature,$trend-forecast/om:OM_Observation/om:featureOfInterest//sam:sampledFeature))or(concat('#', //iwxxm:observation/om:OM_Observation/om:featureOfInterest/sams:SF_SpatialSamplingFeature/@gml:id)=$trend-forecast/om:OM_Observation/om:featureOfInterest/@xlink:href)))[.=false()]))">SPECI: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SPECIType">
      <complexContent>
         <extension base="iwxxm:MeteorologicalAerodromeObservationReportType"/>
      </complexContent>
   </complexType>
   <complexType name="SPECIPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:SPECI"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="MeteorologicalAerodromeTrendForecastRecord" substitutionGroup="gml:AbstractGML" type="iwxxm:MeteorologicalAerodromeTrendForecastRecordType">
      <annotation>
         <documentation>A Record containing meteorological trend forecasting conditions at an aerodrome. 
            This class is the result of MeteorologicalAerodromeTrendForecast observations.  This
            class is also related but not identical to MeteorologicalAerodromeForecastRecord which
            is reported on a TAF - conditions reported in trend forecasts in METAR/SPECI differ
            from forecast groups in a TAF.  When no clouds of operational significance or no weather
            of operational significance is predicted, the NothingOfOperationalSignificance nilReason
            should be used for the cloud or presentWeather association.  When no clouds were detected
            by the automatic observing system, the NotDetectedByAutoSystem nilReason should be
            used for the cloud association.
         </documentation>
      </annotation>
   </element>
   <complexType name="MeteorologicalAerodromeTrendForecastRecordType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element maxOccurs="1" minOccurs="0" name="prevailingHorizontalVisibility" type="met-basic:PrevailingVisibilityType">
                  <annotation>
                     <documentation>The prevailing horizontal visibility reported in a trend forecast</documentation>
                  </annotation>
               </element>
               <element maxOccurs="1" minOccurs="0" name="forecastWeather" type="met-basic:AerodromeForecastWeatherType"/>
               <element maxOccurs="1" minOccurs="0" name="surfaceWind" type="iwxxm:AerodromeSurfaceWindTrendForecastPropertyType"/>
               <element maxOccurs="1" minOccurs="0" name="cloud" type="iwxxm:AerodromeCloudForecastPropertyType"/>
            </sequence>
            <attribute name="ceilingAndVisibilityOK" type="boolean" use="required"/>
            <attribute name="changeIndicator" type="metce:ForecastChangeIndicatorType" use="required"/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="MeteorologicalAerodromeTrendForecastRecordPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:MeteorologicalAerodromeTrendForecastRecord"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="MeteorologicalAerodromeObservationRecord" substitutionGroup="gml:AbstractGML" type="iwxxm:MeteorologicalAerodromeObservationRecordType">
      <annotation>
         <documentation>A Record that is intended to contain meteorological conditions observed at an aerodrome.
            This class is the result of MeteorologicalAerodromeObservation observations.  When
            no clouds of operational significance or no weather of operational significance is
            observed, the NothingOfOperationalSignificance nilReason should be used for the cloud
            or presentWeather association.  When no clouds were detected by the automatic observing
            system, the NotDetectedByAutoSystem nilReason should be used for the cloud association.
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="MeteorologicalAerodromeObservationRecord1">
               <sch:rule context="//iwxxm:MeteorologicalAerodromeObservationRecord">
                  <sch:assert test="(if(@ceilingAndVisibilityOK='true') then empty(iwxxm:surfaceWind) else true())">MeteorologicalAerodromeObservationRecord: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="MeteorologicalAerodromeObservationRecord2">
               <sch:rule context="//iwxxm:MeteorologicalAerodromeObservationRecord">
                  <sch:assert test="(if(@ceilingAndVisibilityOK='true') then empty(iwxxm:visibility) else true())">MeteorologicalAerodromeObservationRecord: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="MeteorologicalAerodromeObservationRecord3">
               <sch:rule context="//iwxxm:MeteorologicalAerodromeObservationRecord">
                  <sch:assert test="(if(@ceilingAndVisibilityOK='true') then empty(iwxxm:rvr) else true())">MeteorologicalAerodromeObservationRecord: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="MeteorologicalAerodromeObservationRecord4">
               <sch:rule context="//iwxxm:MeteorologicalAerodromeObservationRecord">
                  <sch:assert test="(if(@ceilingAndVisibilityOK='true') then empty(iwxxm:presentWeather) else true())">MeteorologicalAerodromeObservationRecord: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="MeteorologicalAerodromeObservationRecord5">
               <sch:rule context="//iwxxm:MeteorologicalAerodromeObservationRecord">
                  <sch:assert test="(if(@ceilingAndVisibilityOK='true') then empty(iwxxm:cloud) else true())">MeteorologicalAerodromeObservationRecord: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="MeteorologicalAerodromeObservationRecordType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element name="airTemperature" type="met-basic:AirTemperatureType">
                  <annotation>
                     <documentation>The observed air temperature</documentation>
                  </annotation>
               </element>
               <element name="dewpointTemperature" type="met-basic:DewPointTemperatureType">
                  <annotation>
                     <documentation>The observed dew point temperature</documentation>
                  </annotation>
               </element>
               <element name="qnh" type="met-basic:AltimeterSettingType">
                  <annotation>
                     <documentation>The observed QNH altimeter setting</documentation>
                  </annotation>
               </element>
               <element maxOccurs="1" minOccurs="0" name="runwayState" type="iwxxm:AerodromeRunwayStatePropertyType"/>
               <element maxOccurs="4" minOccurs="0" name="rvr" type="iwxxm:AerodromeRunwayVisualRangePropertyType"/>
               <element maxOccurs="1" minOccurs="0" name="seaState" type="iwxxm:AerodromeSeaStatePropertyType"/>
               <element maxOccurs="1" minOccurs="0" name="windShear" type="iwxxm:AerodromeWindShearPropertyType"/>
               <element name="surfaceWind" type="iwxxm:AerodromeSurfaceWindPropertyType"/>
               <element maxOccurs="1" minOccurs="0" name="recentWeather" type="met-basic:AerodromeRecentWeatherType"/>
               <element maxOccurs="3" minOccurs="0" name="presentWeather" type="met-basic:AerodromePresentWeatherType"/>
               <element maxOccurs="1" minOccurs="0" name="visibility" type="iwxxm:AerodromeHorizontalVisibilityPropertyType"/>
               <element maxOccurs="1" minOccurs="0" name="cloud" type="iwxxm:AerodromeObservedCloudsPropertyType"/>
            </sequence>
            <attribute name="ceilingAndVisibilityOK" type="boolean" use="required"/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="MeteorologicalAerodromeObservationRecordPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:MeteorologicalAerodromeObservationRecord"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="METAR" substitutionGroup="iwxxm:MeteorologicalAerodromeObservationReport" type="iwxxm:METARType">
      <annotation>
         <documentation>A routine observation made at an aerodrome throughout the day.  METAR observations
            are made (and distributed) at intervals of one hour or, if so determined by regional
            air navigation agreement, at intervals of one half-hour.   The information contained
            in METAR and SPECI is identical. SPECI is issued when conditions merit a non-routine
            report on conditions at an aerodrome.  METARs are a routine report produced for dissemination
            beyond the aerodrome of origin, and are mainly intended for flight planning, VOLMET
            broadcasts and D-VOLMET.  See Annex 3 Table A3-2
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="METAR1">
               <sch:rule context="//iwxxm:METAR">
                  <sch:assert test="(empty(distinct-values(for $trend-forecast in //iwxxm:trendForecast return((deep-equal(//iwxxm:observation/om:OM_Observation/om:featureOfInterest//sam:sampledFeature,$trend-forecast/om:OM_Observation/om:featureOfInterest//sam:sampledFeature))or(concat('#', //iwxxm:observation/om:OM_Observation/om:featureOfInterest/sams:SF_SpatialSamplingFeature/@gml:id)=$trend-forecast/om:OM_Observation/om:featureOfInterest/@xlink:href)))[.=false()]))">METAR: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="METARType">
      <complexContent>
         <extension base="iwxxm:MeteorologicalAerodromeObservationReportType"/>
      </complexContent>
   </complexType>
   <complexType name="METARPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:METAR"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AerodromeRunwayState" substitutionGroup="gml:AbstractObject" type="iwxxm:AerodromeRunwayStateType">
      <annotation>
         <documentation>An aggregation of runway conditions typically reported together at an aerodrome, including
            the runway contamination, friction, and deposits.  
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="AerodromeRunwayState1">
               <sch:rule context="//iwxxm:AerodromeRunwayState">
                  <sch:assert test="(if( exists(iwxxm:brakingAction) ) then empty(iwxxm:frictionCoefficient) else true())">AerodromeRunwayState: Braking action and friction coefficient cannot both be reported</sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="AerodromeRunwayStateType">
      <sequence>
         <element maxOccurs="1" minOccurs="0" name="brakingAction" type="met-basic:BrakingActionType">
            <annotation>
               <documentation>The reported braking conditions.  May not be reported together with a friction coefficient
                  Annex 3: Section 4.8.1.5b, Section 4.8.1.5 Note 2  WMO 306: Table 0366
               </documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="contamination" type="met-basic:RunwayContaminationType">
            <annotation>
               <documentation>Between 0 and 100 percent contamination.  Example: "50 to 75 percent"  Based upon
                  WMO 306 Code Table 0519
               </documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="depositType" type="met-basic:RunwayDepositsType">
            <annotation>
               <documentation>The type of runway deposit, such as damp conditions, wet snow, or ice.  WMO 306: Table
                  0919
               </documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="depthOfDeposit" type="met-basic:DepthOfDepositType">
            <annotation>
               <documentation>The depth of meteorological deposit on the runway.  WMO 306: Table 1079</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="frictionCoefficient" type="met-basic:FrictionCoefficientType">
            <annotation>
               <documentation>The friction coefficient for the affected runway.  Between 0.0 and 0.9.  May not be
                  reported together with braking action.  WMO 306: Table 0366
               </documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="runway" type="saf:RunwayPropertyType">
            <annotation>
               <documentation>The runway to which the conditions apply.  The runway may be missing in cases where
                  all runways are closed due to snow
               </documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="cleared" type="boolean"/>
      <attribute name="snowClosure" type="boolean"/>
   </complexType>
   <complexType name="AerodromeRunwayStatePropertyType">
      <sequence>
         <element ref="iwxxm:AerodromeRunwayState"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AerodromeRunwayVisualRange" substitutionGroup="gml:AbstractObject" type="iwxxm:AerodromeRunwayVisualRangeType">
      <annotation>
         <documentation>An aggregation of runway visual range conditions for a single runway, typically reported
            together at an aerodrome.
         </documentation>
      </annotation>
   </element>
   <complexType name="AerodromeRunwayVisualRangeType">
      <sequence>
         <element name="meanRVR" type="met-basic:RunwayVisualRangeType">
            <annotation>
               <documentation>The mean recent RVR value observed.  This mean represents the 10 minute average for
                  observed RVR except when the 10-minute period immediately preceding the observation
                  includes a marked discontinuity in runway visual range values, only those values occurring
                  after the discontinuity shall be used for obtaining mean values  Annex 3: Table A3-2
                  "RVR/RVR" Section 4.3.6.6
               </documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="oneMinuteMeanMaximumRVR" type="met-basic:RunwayVisualRangeType">
            <annotation>
               <documentation>The observed 1-minute mean maximum variations for the runway visual range.  If the
                  1-minute runway visual range values during the 10-minute period vary from the mean
                  value by more than 50 m or more than 20 per cent of the mean value, whichever is greater,
                  the 1-minute mean minimum and the 1-minute mean maximum values should be reported
                  instead of the 10-minute mean value. If the 10-minute period immediately preceding
                  the observation includes a marked discontinuity in runway visual range values, only
                  those values occurring after the discontinuity should be used to obtain variations.
                  Annex 3: Table A3-2 "RVR/RVR variations" Section 4.3.6.6
               </documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="oneMinuteMeanMinimumRVR" type="met-basic:RunwayVisualRangeType">
            <annotation>
               <documentation>The observed 1-minute mean minimum variations for the runway visual range.  If the
                  1-minute runway visual range values during the 10-minute period vary from the mean
                  value by more than 50 m or more than 20 per cent of the mean value, whichever is greater,
                  the 1-minute mean minimum and the 1-minute mean maximum values should be reported
                  instead of the 10-minute mean value. If the 10-minute period immediately preceding
                  the observation includes a marked discontinuity in runway visual range values, only
                  those values occurring after the discontinuity should be used to obtain variations.
                  Annex 3: Table A3-2 "RVR/RVR variations" Section 4.3.6.6
               </documentation>
            </annotation>
         </element>
         <element name="runway" type="saf:RunwayPropertyType">
            <annotation>
               <documentation>The runway to which reported RVR information applies</documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="pastTendency" type="met-basic:RunwayVisualRangeTendencyType"/>
   </complexType>
   <complexType name="AerodromeRunwayVisualRangePropertyType">
      <sequence>
         <element ref="iwxxm:AerodromeRunwayVisualRange"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AerodromeSeaState" substitutionGroup="gml:AbstractObject" type="iwxxm:AerodromeSeaStateType">
      <annotation>
         <documentation>An aggregation of sea state conditions typically reported together at an aerodrome.
            This includes information on sea-surface temperature and the state of the sea from
            aeronautical meteorological stations established on offshore structures in support
            of helicopter operations
         </documentation>
      </annotation>
   </element>
   <complexType name="AerodromeSeaStateType">
      <sequence>
         <element name="seaState" type="met-basic:SeaSurfaceStateType">
            <annotation>
               <documentation>The state of the sea observed by aeronautical meteorological stations established
                  on offshore structures in support of helicopter operations  Annex 3: Section 4.8.1.5a
                  WMO 306: Table 3700
               </documentation>
            </annotation>
         </element>
         <element name="seaSurfaceTemperature" type="met-basic:SeaSurfaceTemperatureType">
            <annotation>
               <documentation>The sea-surface temperature observed by aeronautical meteorological stations established
                  on offshore structures in support of helicopter operations  Annex 3: Section 4.8.1.5a
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="AerodromeSeaStatePropertyType">
      <sequence>
         <element ref="iwxxm:AerodromeSeaState"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AerodromeWindShear" substitutionGroup="gml:AbstractObject" type="iwxxm:AerodromeWindShearType">
      <annotation>
         <documentation>An aggregation of wind shear conditions typically reported together at an aerodrome,
            including the set of affected runways. 
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="AerodromeWindShear1">
               <sch:rule context="//iwxxm:AerodromeWindShear">
                  <sch:assert test="(if( @allRunwaysAffected = 'true' ) then empty(iwxxm:affectedRunway) else true())">AerodromeWindShear: When all runways are affected by wind shear, no specific runways
                     should be reported
                  </sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="AerodromeWindShearType">
      <sequence>
         <element maxOccurs="unbounded" minOccurs="0" name="affectedRunway" type="saf:RunwayPropertyType">
            <annotation>
               <documentation>The specific runways affected by wind shear at this aerodrome. No specific runways
                  are reported when all runways are affected by wind shear
               </documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="allRunwaysAffected" type="boolean"/>
   </complexType>
   <complexType name="AerodromeWindShearPropertyType">
      <sequence>
         <element ref="iwxxm:AerodromeWindShear"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AerodromeObservedClouds" substitutionGroup="gml:AbstractObject" type="iwxxm:AerodromeObservedCloudsType">
      <annotation>
         <documentation>An aggregation of observed cloud conditions typically reported together at an aerodrome,
            including cloud types, cloud layers, and vertical visibility.  
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="AerodromeObservedClouds1">
               <sch:rule context="//iwxxm:AerodromeObservedClouds">
                  <sch:assert test="(if( exists(iwxxm:verticalVisibility) ) then empty(iwxxm:layer) else true())">AerodromeObservedClouds: Vertical visibility cannot be reported with cloud layers</sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="AerodromeObservedCloudsType">
      <sequence>
         <element maxOccurs="2" minOccurs="0" name="cloudType" type="met-basic:SigConvectiveCloudTypeType">
            <annotation>
               <documentation>The observed significant cloud types: cumulonimbus or towering cumulus</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="verticalVisibility" type="met-basic:VerticalVisibilityType">
            <annotation>
               <documentation>The observed vertical visibility</documentation>
            </annotation>
         </element>
         <element maxOccurs="4" minOccurs="0" name="layer" type="iwxxm:CloudLayerPropertyType"/>
      </sequence>
      <attribute name="amountAndHeightUnobservableByAutoSystem" type="boolean"/>
   </complexType>
   <complexType name="AerodromeObservedCloudsPropertyType">
      <sequence>
         <element ref="iwxxm:AerodromeObservedClouds"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AerodromeSurfaceWind" substitutionGroup="gml:AbstractObject" type="iwxxm:AerodromeSurfaceWindType">
      <annotation>
         <documentation>An aggregation of surface wind conditions typically reported together at an aerodrome,
            including wind direction information, wind speed, and wind gusts.    Wind direction
            is reported according to ICAO Annex 3 Section 4.1.5.2b: "variations from the mean
            wind direction during the past 10 minutes shall be reported as follows, if the total
            variation is 60 or more: 1) when the total variation is 60 or more and less than 180
            and the wind speed is 1.5 m/s (3 kt) or more, such directional variations shall be
            reported as the two extreme directions between which the surface wind has varied;
            2) when the total variation is 60 or more and less than 180 and the wind speed is
            less than 1.5 m/s (3 kt), the wind direction shall be reported as variable with no
            mean wind direction; or 3) when the total variation is 180 or more, the wind direction
            shall be reported as variable with no mean wind direction"
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="AerodromeSurfaceWind1">
               <sch:rule context="//iwxxm:AerodromeSurfaceWind">
                  <sch:assert test="(if( exists(iwxxm:meanWindDirection)and exists(iwxxm:extremeClockwiseWindDirection)and exists(iwxxm:extremeCounterClockwiseWindDirection)  ) then ((iwxxm:meanWindDirection/@uom = iwxxm:extremeClockwiseWindDirection/@uom) and (iwxxm:meanWindDirection/@uom = iwxxm:extremeCounterClockwiseWindDirection/@uom)) else true())">AerodromeSurfaceWind: All wind UOMs must be the same</sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="AerodromeSurfaceWindType">
      <sequence>
         <element maxOccurs="1" minOccurs="0" name="extremeClockwiseWindDirection" type="met-basic:WindDirectionType">
            <annotation>
               <documentation>The extreme clockwise direction from which the wind has blown, inclusive.  Annex 3:
                  Section 4.1.5.2b
               </documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="extremeCounterClockwiseWindDirection" type="met-basic:WindDirectionType">
            <annotation>
               <documentation>The extreme counter-clockwise direction from which the wind has blown, inclusive.
                  Annex 3: Section 4.1.5.2b
               </documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="meanWindDirection" type="met-basic:WindDirectionType">
            <annotation>
               <documentation>The observed average wind direction from which the wind is blowing.  Not reported
                  when winds are variable
               </documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="windGust" type="met-basic:GustSpeedType">
            <annotation>
               <documentation>The maximum wind speed observed during the past 10 minutes  Annex 3: Section 4.1.5.2c</documentation>
            </annotation>
         </element>
         <element name="windSpeed" type="met-basic:WindSpeedType">
            <annotation>
               <documentation>The observed wind speed  Annex 3: Section 4.1.5.2a</documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="variableDirection" type="boolean"/>
   </complexType>
   <complexType name="AerodromeSurfaceWindPropertyType">
      <sequence>
         <element ref="iwxxm:AerodromeSurfaceWind"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AerodromeHorizontalVisibility" substitutionGroup="gml:AbstractObject" type="iwxxm:AerodromeHorizontalVisibilityType">
      <annotation>
         <documentation>An aggregation of horizontal visibility conditions typically reported together at
            an aerodrome, including the prevailing visibility and minimum visibility.  
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="AerodromeHorizontalVisibility1">
               <sch:rule context="//iwxxm:AerodromeHorizontalVisibility">
                  <sch:assert test="(if( exists(iwxxm:minimumVisibility) ) then exists(iwxxm:minimumVisibilityDirection) else true())">AerodromeHorizontalVisibility: Minimum visibility and the direction must be reported
                     together
                  </sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="AerodromeHorizontalVisibilityType">
      <sequence>
         <element maxOccurs="1" minOccurs="0" name="minimumVisibility" type="met-basic:Visibility_AeroType">
            <annotation>
               <documentation>Section 4.2.4.4a: "When the visibility is not the same in different directions and
                  a) when the lowest visibility is different from the prevailing visibility, and   
                  1) less than 1 500 m or    2) less than 50 percent of the prevailing visibility and
                  less than 5 000 m; the lowest visibility observed should also be reported and,when
                  possible, its general direction in relation to the aerodrome reference point indicated
                  by reference to one of the eight points of the compass. If the lowest visibility is
                  observed in more than one direction, then the most operationally significant direction
                  should be reported; and b) when the visibility is fluctuating rapidly, and the prevailing
                  visibility cannot be determined, only the lowest visibility should be reported, with
                  no indication of direction."
               </documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="minimumVisibilityDirection" type="gml:AngleType">
            <annotation>
               <documentation>The direction of the minimum visibility relative to the reporting station.  This is
                  optional in cases where minimum visibility is reported but the visibility is fluctuating
                  rapidly.  Minimum visibility is reported in cardinal and inter-cardinal directions
                  (N, NE, E, SE, S, SW, W, and NW)
               </documentation>
            </annotation>
         </element>
         <element name="prevailingVisibility" type="met-basic:PrevailingVisibilityType">
            <annotation>
               <documentation>The reported prevailing horizontal visibility at the surface that is representative
                  of the aerodrome.  The greatest visibility value, observed in accordance with the
                  definition of "visibility¨, which is reached within at least half the horizon circle
                  or within at least half of the surface of the aerodrome. These areas could comprise
                  contiguous or non-contiguous sectors.  Note: This value may be assessed by human observation
                  and/or instrumented systems. When instruments are installed, they are used to obtain
                  the best estimate of the prevailing visibility.  Annex 3: Section 4.2.4.4b
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="AerodromeHorizontalVisibilityPropertyType">
      <sequence>
         <element ref="iwxxm:AerodromeHorizontalVisibility"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MeteorologicalAerodromeReportStatusType">
      <annotation>
         <documentation>The status of a MeteorologicalAerodromeObservationReport, either a normal issuance
            or a correction of an earlier report
         </documentation>
      </annotation>
      <restriction base="string">
         <enumeration value="NORMAL">
            <annotation>
               <documentation>Normal report status: not a correction of an earlier report</documentation>
            </annotation>
         </enumeration>
         <enumeration value="CORRECTION">
            <annotation>
               <documentation>A correction of an earlier report</documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
</schema>