1.0RC1/sigmet.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:iwxxm="http://icao.int/iwxxm/1.0RC1" xmlns:om="http://www.opengis.net/om/2.0" xmlns:saf="http://icao.int/saf/1.0RC1" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" xmlns:metce="http://data.wmo.int/def/metce/1.0RC1" targetNamespace="http://icao.int/iwxxm/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0RC1">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <annotation>
      <documentation>SIGMET reporting constructs as defined in ICAO Annex 3.  SIGMETs report the occurrence
         and/or expected occurrence of specified en-route weather phenomena which may affect
         the safety of aircraft operations, and of the development of those phenomena in time
         and space.  These weather phenomena are reported as impacted regions of airspace.
         Only a single SIGMET of a given type (e.g., Thunderstorm) shall be in force within
         a specific FIR at any given time.
      </documentation>
      <appinfo>
         <sch:title xmlns:sch="http://purl.oclc.org/dsdl/schematron">Schematron validation</sch:title>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="opm" uri="http://data.wmo.int/def/opm/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="metce" uri="http://data.wmo.int/def/metce/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="saf" uri="http://icao.int/saf/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="iwxxm" uri="http://icao.int/iwxxm/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sam" uri="http://www.opengis.net/sampling/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sams" uri="http://www.opengis.net/samplingSpatial/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="om" uri="http://www.opengis.net/om/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="gml" uri="http://www.opengis.net/gml/3.2"/>
      </appinfo>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <import namespace="http://icao.int/saf/1.0RC1" schemaLocation="http://schemas.wmo.int/saf/1.0RC1/saf.xsd"/>
   <import namespace="http://data.wmo.int/def/metce/1.0RC1" schemaLocation="http://schemas.wmo.int/metce/1.0RC1/metce.xsd"/>
   <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
   <import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
   <include schemaLocation="iwxxm.xsd"/>
   <element name="MeteorologicalPosition" substitutionGroup="gml:AbstractFeature" type="iwxxm:MeteorologicalPositionType">
      <annotation>
         <documentation>A MeteorologicalPosition is a result of a SIGMETPositionAnalysis process, and indicates
            the presence of a specific SIGMET phenomenon such as volcanic ash or a thunderstorm.
            MeteorologicalPositions are used to represent the forecast positions with VolcanicAshSIGMET
            and TropicalCycloneSIGMET.  TC TOP (ABV and BLW) conditions are represented by the
            vertical component of the geometry.  For example: CB TOP FL500 is represented as a
            base of 0 and a top of 500FL
         </documentation>
      </annotation>
   </element>
   <complexType name="MeteorologicalPositionType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="geometry" type="saf:AirspaceSolidPropertyType">
                  <annotation>
                     <documentation>The geographic region affected by the reported phenomenon at a particular time (thunderstorms,
                        volcanic ash, etc.).  This geometry covers all combinations of phenomenon historically
                        reported in Annex 3: a boundary with a base and top, a TC center position, and a VA
                        line with a width
                     </documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="MeteorologicalPositionPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:MeteorologicalPosition"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="EvolvingMeteorologicalCondition" substitutionGroup="gml:AbstractFeature" type="iwxxm:EvolvingMeteorologicalConditionType">
      <annotation>
         <documentation>An EvolvingMeteorologicalCondition is a result of a SIGMETEvolvingConditionAnalysis
            process, and indicates the presence of a specific SIGMET phenomenon such as volcanic
            ash or a thunderstorm along with expected changes to the phenomenon such as intensity,
            speed, and direction.  These conditions are reported with OBS/FCST conditions on all
            SIGMET types.  TC TOP (ABV and BLW) conditions are represented by the vertical component
            of the geometry.  For example: CB TOP FL500 is represented as a base of 0 and a top
            of 500FL.  Design note: This class is no longer a subclass of MeteorologicalPosition.
            This change was made to ensure that there is no confusion between the two classes
            when results from different OM_Observation types are populated.  The oclIsTypeOf constraint
            can be used to ensure a specific superclass but not its subclasses are valid, but
            this would disallow the use of sub-classes of this type for other purposes such as
            regional extension
         </documentation>
      </annotation>
   </element>
   <complexType name="EvolvingMeteorologicalConditionType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element maxOccurs="1" minOccurs="0" name="directionOfMotion" type="gml:AngleType">
                  <annotation>
                     <documentation>The direction of movement of a meteorological phenomenon. When no movement is expected,
                        this will have a http://www.opengis.net/def/nil/OGC/0/inapplicable nilReason and the
                        speedOfMotion will be 0.
                     </documentation>
                  </annotation>
               </element>
               <element name="geometry" type="saf:AirspaceSolidPropertyType">
                  <annotation>
                     <documentation>The geographic region affected by the reported phenomenon at a particular time (thunderstorms,
                        volcanic ash, etc.).  This geometry covers all combinations of phenomenon historically
                        reported in Annex 3: a boundary with a base and top, a TC center position, and a VA
                        line with a width
                     </documentation>
                  </annotation>
               </element>
               <element name="speedOfMotion" type="gml:SpeedType">
                  <annotation>
                     <documentation>The speed of movement of a meteorological phenomenon. When no movement is expected,
                        this will have a value of 0 and directionOfMotion will have a http://www.opengis.net/def/nil/OGC/0/inapplicable
                        nilReason.
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="intensityChange" type="metce:ExpectedIntensityChangeType"/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="EvolvingMeteorologicalConditionPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:EvolvingMeteorologicalCondition"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="MeteorologicalPositionCollection" substitutionGroup="gml:AbstractFeature" type="iwxxm:MeteorologicalPositionCollectionType">
      <annotation>
         <documentation>A collection of MeteorologicalPositions, each representing a location where meteorological
            conditions exist.  All members of this collection are of type MeteorologicalPosition.
         </documentation>
      </annotation>
   </element>
   <complexType name="MeteorologicalPositionCollectionType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element maxOccurs="unbounded" minOccurs="0" name="member" type="iwxxm:MeteorologicalPositionPropertyType"/>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="MeteorologicalPositionCollectionPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:MeteorologicalPositionCollection"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="SIGMETEvolvingConditionAnalysis" substitutionGroup="om:OM_Observation" type="iwxxm:SIGMETEvolvingConditionAnalysisType">
      <annotation>
         <documentation>A specialization of SamplingObservation whose featureOfInterest is a SpatialSamplingFeature
            which refers to an FIR, the result of which is a single EvolvingMeteorologicalCondition
            which represents a SIGMET observation or forecast of meteorological conditions.
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="SIGMETEvolvingConditionAnalysis1">
               <sch:rule context="//iwxxm:analysis/om:OM_Observation">
                  <sch:assert test="(if(string(om:featureOfInterest//sam:sampledFeature/@xlink:href) ne '') then (contains(string(om:featureOfInterest//sam:sampledFeature/@xlink:href), 'fir')) else (empty(distinct-values(for $xlink-href in om:featureOfInterest/@xlink:href return contains(string(//sams:SF_SpatialSamplingFeature[concat('#', @gml:id) eq $xlink-href]/sam:sampledFeature/@xlink:href), 'fir'))[.=false()])))">SIGMETEvolvingConditionAnalysis: Sampled feature must be an FIR</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="SIGMETEvolvingConditionAnalysis2">
               <sch:rule context="//iwxxm:analysis/om:OM_Observation">
                  <sch:assert test="(exists(om:result/iwxxm:EvolvingMeteorologicalCondition))">SIGMETEvolvingConditionAnalysis: Result must be a single EvolvingMeteorologicalPosition</sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SIGMETEvolvingConditionAnalysisType">
      <complexContent>
         <extension base="om:OM_ObservationType">
            <sequence>
               <element name="result" type="iwxxm:EvolvingMeteorologicalConditionPropertyType"/>
               <element name="featureOfInterest" type="sams:SF_SpatialSamplingFeaturePropertyType"/>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SIGMETEvolvingConditionAnalysisPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:SIGMETEvolvingConditionAnalysis"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="SIGMETPositionAnalysis" substitutionGroup="om:OM_Observation" type="iwxxm:SIGMETPositionAnalysisType">
      <annotation>
         <documentation>A specialization of SamplingObservation whose featureOfInterest is a SpatialSamplingFeature
            which refers to an FIR, the result of which is one or more MeteorologicalPositions
            which represent the forecast positions of SIGMET phenomenon
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="SIGMETPositionAnalysis1">
               <sch:rule context="//iwxxm:forecastPositionAnalysis/om:OM_Observation">
                  <sch:assert test="(if(string(om:featureOfInterest//sam:sampledFeature/@xlink:href) ne '') then (contains(string(om:featureOfInterest//sam:sampledFeature/@xlink:href), 'fir')) else (empty(distinct-values(for $xlink-href in om:featureOfInterest/@xlink:href return contains(string(//sams:SF_SpatialSamplingFeature[concat('#', @gml:id) eq $xlink-href]/sam:sampledFeature/@xlink:href), 'fir'))[.=false()])))">SIGMETPositionAnalysis: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="SIGMETPositionAnalysis2">
               <sch:rule context="//iwxxm:forecastPositionAnalysis/om:OM_Observation">
                  <sch:assert test="(exists(om:result/iwxxm:MeteorologicalPositionCollection))">SIGMETPositionAnalysis: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SIGMETPositionAnalysisType">
      <complexContent>
         <extension base="om:OM_ObservationType">
            <sequence>
               <element name="result" type="iwxxm:MeteorologicalPositionCollectionPropertyType"/>
               <element name="featureOfInterest" type="sams:SF_SpatialSamplingFeaturePropertyType"/>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SIGMETPositionAnalysisPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:SIGMETPositionAnalysis"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="SIGMET" substitutionGroup="gml:AbstractGML" type="iwxxm:SIGMETType">
      <annotation>
         <documentation>A SIGMET (significant meteorological) report. SIGMETs report the occurrence and/or
            expected occurrence of specified en-route weather phenomena which may affect the safety
            of aircraft operations, and of the development of those phenomena in time and space.
            Only a single SIGMET of a given type (e.g., Thunderstorm) shall be in force within
            a specific FIR at any given time.  The SIGMET report class represents the base SIGMET
            types that may be reported such as squall lines, thunderstorms, dust storms, turbulence,
            etc.  Tropical cyclone and volcanic ash SIGMET reports are subclasses of SIGMET due
            to their ability to report additional information, including volcano/tropical cyclone
            identification and forecast position(s).  Non-tropical cyclone and volcanic ash SIGMETs
            may report either an observation or a forecast.  SIGMETs may include both an observation
            ("OBS") as well as a forecast ("FCST").  Volcanic ash and tropical cyclones may additionally
            include a set of forecast positions
         </documentation>
      </annotation>
   </element>
   <complexType name="SIGMETType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element maxOccurs="unbounded" minOccurs="1" name="analysis" type="om:OM_ObservationPropertyType">
                  <annotation>
                     <documentation>SIGMETs may include the same phenomenon covering more than one area within the FIR,
                        as well as observed and forecast conditions for each of these reported areas.  All
                        combinations of observations and forecasts of meteorological conditions, including
                        changing conditions, are represented by their own SIGMETEvolvingMeteorologicalCondition.
                        Each analysis has a single EvolvingMeteorologicalCondition as its result.  
                     </documentation>
                  </annotation>
               </element>
               <element maxOccurs="1" minOccurs="0" name="cancelledSequenceNumber" type="string">
                  <annotation>
                     <documentation>The cancelled SIGMET sequence number.  Mandatory when this is a cancellation report,
                        must be missing otherwise  Examples: YUDD SIGMET 2 VALID ... YUDD SIGMET A3 VALID
                        ...
                     </documentation>
                  </annotation>
               </element>
               <element maxOccurs="1" minOccurs="0" name="cancelledValidPeriod" type="gml:TimePeriodPropertyType">
                  <annotation>
                     <documentation>The valid period of a previous SIGMET that is cancelled by this SIGMET.  Mandatory
                        when this is a cancellation report, must be missing otherwise
                     </documentation>
                  </annotation>
               </element>
               <element maxOccurs="1" minOccurs="0" name="humanReadableText" type="iwxxm:LanguageStringPropertyType">
                  <annotation>
                     <documentation>Human-readable, descriptive text that cannot be sensibly represented in any other
                        form.  This report element encapsulates the human-generated text that is intended
                        for other downstream human recipients.  All other elements of the report capture machine-readable
                        information that can be anticipated in advance as part of the reporting structure.
                        It is not valid to include any machine-readable information or extended content in
                        this text under any circumstances. Human-readable text may be considered opaque to
                        parsing software and should be used minimally.  This text is not to be confused with
                        Traditional Alphanumeric Code (TAC) form remarks ("RMK"), which have been used for
                        many purposes beyond human-readable text.
                     </documentation>
                  </annotation>
               </element>
               <element name="issuingAirTrafficServicesUnit" type="saf:AirTrafficServicesUnitPropertyType">
                  <annotation>
                     <documentation>ICAO location indicator of the ATS unit serving the FIR or CTA to which the SIGMET
                        refers  Annex 3: A6-1: "Location indicator of FIR/CTA"
                     </documentation>
                  </annotation>
               </element>
               <element name="originatingMeteorologicalWatchOffice" type="saf:MeteorologicalWatchOfficePropertyType">
                  <annotation>
                     <documentation>MWO originating this report</documentation>
                  </annotation>
               </element>
               <element name="phenomenon" type="metce:AeronauticalSignificantWeatherPhenomenonType">
                  <annotation>
                     <documentation>The reported phenomenon, such as thunderstorm, tropical cyclone, icing, mountain wave,
                        etc.
                     </documentation>
                  </annotation>
               </element>
               <element name="sequenceNumber" type="string">
                  <annotation>
                     <documentation>The sequence number of this message.  For example: "5", "A3", or "2"</documentation>
                  </annotation>
               </element>
               <element name="validPeriod" type="gml:TimePeriodPropertyType">
                  <annotation>
                     <documentation>The valid period for the entire report, including all observations and forecasts.
                        Each observation/forecast also includes its own applicable period of validity
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="status" type="iwxxm:SIGMETReportStatusType" use="required"/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SIGMETPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:SIGMET"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="TropicalCycloneSIGMET" substitutionGroup="iwxxm:SIGMET" type="iwxxm:TropicalCycloneSIGMETType">
      <annotation>
         <documentation>A SIGMET that reports the presence of a tropical cyclone conditions.  This extends
            the base SIGMET type by including additional information regarding forecast positions
            and tropical cyclone identification.
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="TropicalCycloneSIGMET1">
               <sch:rule context="//iwxxm:TropicalCycloneSIGMET">
                  <sch:assert test="(exists(//iwxxm:analysis/om:OM_Observation/om:result/iwxxm:EvolvingMeteorologicalCondition))">TropicalCycloneSIGMET: OBS and FCST classifications must have a result type of EvolvingMeteorologicalCondition</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="TropicalCycloneSIGMET2">
               <sch:rule context="//iwxxm:TropicalCycloneSIGMET">
                  <sch:assert test="(exists(iwxxm:forecastPositionAnalysis/om:OM_Observation/om:result/iwxxm:MeteorologicalPositionCollection//iwxxm:MeteorologicalPosition))">TropicalCycloneSIGMET: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TropicalCycloneSIGMETType">
      <complexContent>
         <extension base="iwxxm:SIGMETType">
            <sequence>
               <element name="forecastPositionAnalysis" type="om:OM_ObservationPropertyType">
                  <annotation>
                     <documentation>One or more forecast positions at the end of the valid period - one for each phenomenon
                        area within an FIR.  These are modeled as a single OM_Observation sub-type with a
                        feature collection result due to the shared time and other observation metadata for
                        all forecast positions.
                     </documentation>
                  </annotation>
               </element>
               <element name="tropicalCyclone" type="metce:TropicalCyclonePropertyType">
                  <annotation>
                     <documentation>The tropical cyclone being reported in this SIGMET</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TropicalCycloneSIGMETPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:TropicalCycloneSIGMET"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="VolcanicAshSIGMET" substitutionGroup="iwxxm:SIGMET" type="iwxxm:VolcanicAshSIGMETType">
      <annotation>
         <documentation>A SIGMET that reports the presence of volcanic ash conditions.  This extends the base
            SIGMET type by including additional information regarding forecast positions and volcano
            identification.
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="VolcanicAshSIGMET1">
               <sch:rule context="//iwxxm:VolcanicAshSIGMET">
                  <sch:assert test="(exists(//iwxxm:analysis/om:OM_Observation/om:result/iwxxm:EvolvingMeteorologicalCondition))">VolcanicAshSIGMET: OBS and FCST classifications must have a result type of EvolvingMeteorologicalCondition</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="VolcanicAshSIGMET2">
               <sch:rule context="//iwxxm:VolcanicAshSIGMET">
                  <sch:assert test="(exists(iwxxm:forecastPositionAnalysis/om:OM_Observation/om:result/iwxxm:MeteorologicalPositionCollection//iwxxm:MeteorologicalPosition))">VolcanicAshSIGMET: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VolcanicAshSIGMETType">
      <complexContent>
         <extension base="iwxxm:SIGMETType">
            <sequence>
               <element name="eruptingVolcano" type="metce:VolcanoPropertyType">
                  <annotation>
                     <documentation>The volcano that is erupting</documentation>
                  </annotation>
               </element>
               <element name="forecastPositionAnalysis" type="om:OM_ObservationPropertyType">
                  <annotation>
                     <documentation>One or more forecast positions at the end of the valid period - one for each phenomenon
                        area within an FIR.  These are modeled as a single OM_Observation sub-type with a
                        feature collection result due to the shared time and other observation metadata for
                        all forecast positions.
                     </documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VolcanicAshSIGMETPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:VolcanicAshSIGMET"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="SIGMETReportStatusType">
      <annotation>
         <documentation>The status of a SIGMET report, either a normal issuance or a cancellation of an earlier
            SIGMET
         </documentation>
      </annotation>
      <restriction base="string">
         <enumeration value="NORMAL">
            <annotation>
               <documentation>A normal SIGMET report (not a cancellation)</documentation>
            </annotation>
         </enumeration>
         <enumeration value="CANCELLATION">
            <annotation>
               <documentation>A cancellation of an earlier SIGMET report</documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
</schema>