1.0RC1/taf.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:iwxxm="http://icao.int/iwxxm/1.0RC1" xmlns:met-basic="http://data.wmo.int/def/met-basic/1.0RC1" xmlns:om="http://www.opengis.net/om/2.0" xmlns:saf="http://icao.int/saf/1.0RC1" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" xmlns:metce="http://data.wmo.int/def/metce/1.0RC1" targetNamespace="http://icao.int/iwxxm/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0RC1">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <annotation>
      <documentation>TAF reporting constructs as defined in ICAO Annex 3.    A Terminal Aerodrome Forecast
         (TAF) report is a routine aerodrome forecast intended for distribution beyond an aerodrome.
         TAF reports include base forecast conditions, and modifications to those conditions
         throughout the valid period.
      </documentation>
      <appinfo>
         <sch:title xmlns:sch="http://purl.oclc.org/dsdl/schematron">Schematron validation</sch:title>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="opm" uri="http://data.wmo.int/def/opm/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="metce" uri="http://data.wmo.int/def/metce/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="saf" uri="http://icao.int/saf/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="iwxxm" uri="http://icao.int/iwxxm/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sam" uri="http://www.opengis.net/sampling/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sams" uri="http://www.opengis.net/samplingSpatial/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="om" uri="http://www.opengis.net/om/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="gml" uri="http://www.opengis.net/gml/3.2"/>
      </appinfo>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <import namespace="http://data.wmo.int/def/met-basic/1.0RC1" schemaLocation="http://schemas.wmo.int/met-basic/1.0RC1/meteorologicalBasicTypes.xsd"/>
   <import namespace="http://icao.int/saf/1.0RC1" schemaLocation="http://schemas.wmo.int/saf/1.0RC1/saf.xsd"/>
   <import namespace="http://data.wmo.int/def/metce/1.0RC1" schemaLocation="http://schemas.wmo.int/metce/1.0RC1/metce.xsd"/>
   <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
   <import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
   <include schemaLocation="iwxxm.xsd"/>
   <element name="MeteorologicalAerodromeForecast" substitutionGroup="om:OM_Observation" type="iwxxm:MeteorologicalAerodromeForecastType">
      <annotation>
         <documentation>Class MeteorologicalAerodromeForecast (a subclass of WMO::ComplexSamplingMeasurement)
            is intended for use where the observation event is concerned with the evaluation of
            multiple forecast measurands at a specified Aerodrome. The result of this observation
            type shall refer to an entity of type MeteorologicalAerodromeForecastRecord.  MeteorologicalAerodromeForecast
            enforces the following additional constraints: &lt;ul&gt;  &lt;li&gt;The sampled feature must
            be an Aerodrome&lt;/li&gt; &lt;/ul&gt;  This class is also related but not identical to MeteorologicalAerodromeTrendForecast
            which is reported on a METAR/SPECI - conditions reported in trend forecasts in METAR/SPECI
            differ from forecast groups in a TAF.  The TAF forecast group from/to variants (FM,
            TL, AT, etc.) are represented on the OM_Observation validTime, which is always an
            instance of TM_Period.  When there is only an instant at which a condition occurs,
            the start and end time are the same
         </documentation>
      </annotation>
   </element>
   <complexType name="MeteorologicalAerodromeForecastType">
      <complexContent>
         <extension base="om:OM_ObservationType">
            <sequence>
               <element name="result" type="iwxxm:MeteorologicalAerodromeForecastRecordPropertyType"/>
               <element name="featureOfInterest" type="sams:SF_SpatialSamplingFeaturePropertyType"/>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="MeteorologicalAerodromeForecastPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:MeteorologicalAerodromeForecast"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="MeteorologicalAerodromeForecastRecord" substitutionGroup="gml:AbstractGML" type="iwxxm:MeteorologicalAerodromeForecastRecordType">
      <annotation>
         <documentation>A Record that is intended to contain meteorological forecasting conditions at an aerodrome.
            This class is the result of MeteorologicalAerodromeForecast observations.  This class
            is also related but not identical to MeteorologicalAerodromeTrendForecastRecord, which
            is reported on a METAR/SPECI.  Conditions reported in trend forecasts in METAR/SPECI
            differ from forecast groups in a TAF.  When no clouds of operational significance
            or no weather of operational significance is predicted, the nothingOfOperationalSignificance
            nilReason should be used for the cloud or presentWeather association.  
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="MeteorologicalAerodromeForecastRecord1">
               <sch:rule context="//iwxxm:MeteorologicalAerodromeForecastRecord">
                  <sch:assert test="(if(@ceilingAndVisibilityOK = 'true') then empty(iwxxm:prevailingHorizontalVisibility) else true())">MeteorologicalAerodromeForecastRecord: Should not report prevailingHorizontalVisibility
                     while ceilingAndVisibilityOK is true
                  </sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="MeteorologicalAerodromeForecastRecord2">
               <sch:rule context="//iwxxm:MeteorologicalAerodromeForecastRecord">
                  <sch:assert test="((: if( ceilingAndVisibilityOK ) presentWeather == NULL :)true())">MeteorologicalAerodromeForecastRecord: Should not report presentWeather while ceilingAndVisibilityOK
                     is true
                  </sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="MeteorologicalAerodromeForecastRecord3">
               <sch:rule context="//iwxxm:MeteorologicalAerodromeForecastRecord">
                  <sch:assert test="(if(@ceilingAndVisibilityOK = 'true') then empty(iwxxm:surfaceWind) else true())">MeteorologicalAerodromeForecastRecord: Should not report surfaceWind while ceilingAndVisibilityOK
                     is true
                  </sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="MeteorologicalAerodromeForecastRecordType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element maxOccurs="1" minOccurs="0" name="prevailingHorizontalVisibility" type="met-basic:PrevailingVisibilityType">
                  <annotation>
                     <documentation>The prevailing horizontal visibility, mandatory except when ceiling and visibility
                        is reported as OK
                     </documentation>
                  </annotation>
               </element>
               <element maxOccurs="1" minOccurs="0" name="surfaceWind" type="iwxxm:AerodromeSurfaceWindForecastPropertyType"/>
               <element maxOccurs="1" minOccurs="0" name="cloud" type="iwxxm:AerodromeCloudForecastPropertyType"/>
               <element maxOccurs="3" minOccurs="0" name="weather" type="met-basic:AerodromeForecastWeatherType"/>
               <element maxOccurs="2" minOccurs="0" name="temperature" type="iwxxm:AerodromeAirTemperatureForecastPropertyType"/>
            </sequence>
            <attribute name="ceilingAndVisibilityOK" type="boolean" use="required"/>
            <attribute name="changeIndicator" type="iwxxm:AerodromeForecastChangeIndicatorType"/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="MeteorologicalAerodromeForecastRecordPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:MeteorologicalAerodromeForecastRecord"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="TAF" substitutionGroup="gml:AbstractGML" type="iwxxm:TAFType">
      <annotation>
         <documentation>A Terminal Aerodrome Forecast (TAF) report is a routine aerodrome forecast intended
            for distribution beyond an aerodrome.  TAF reports report base forecast conditions,
            and modifications to those conditions throughout the valid period.  TAF reports include
            similar information to a METAR/SPECI trend forecast.  However, TAF forecast information
            includes additional detail.  Aerodromes can issue both METAR/SPECI and TAF reports
            on a routine basis, but TAFs are not issued by every METAR-reporting aerodrome.  The
            issuance of a new forecast by a meteorological office, such as a TAF, cancels any
            forecast of the same type previously issued for the same place and for the same period
            of validity or part thereof.  Prevailing conditions and forecast changes differ in
            that the prevailing conditions can include temperatures, base conditions do not include
            a change indicator, and that forecast changes may report no significant weather (NSW).
            Rather than have two class hierarchies, constraints are present ensuring that each
            (base and forecast conditions) only include relevant information
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="TAF1">
               <sch:rule context="//iwxxm:TAF">
                  <sch:assert test="((: forAll( self.forecastConditions.temperature == null ) :)true())">TAF: Forecast conditions cannot include temperature information. They are otherwise
                     identical to the prevailing conditions
                  </sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="TAF2">
               <sch:rule context="//iwxxm:TAF">
                  <sch:assert test="(if( @status = 'AMENDMENT' ) then exists(iwxxm:previousReportValidPeriod) else true())">TAF: An amended report must also include the valid time of the amended report</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="TAF3">
               <sch:rule context="//iwxxm:TAF">
                  <sch:assert test="(if( @status = 'CANCELLATION' ) then exists(iwxxm:previousReportValidPeriod) else true())">TAF: A cancelled report must also include the valid time of the cancelled report</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="TAF4">
               <sch:rule context="//iwxxm:TAF">
                  <sch:assert test="(if( (@status != 'AMENDMENT') and (@status != 'CANCELLATION') ) then empty(iwxxm:previousReportValidPeriod) else true())">TAF: previousReportValidPeriod must be null unless this cancels or amends a previous
                     report
                  </sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="TAF5">
               <sch:rule context="//iwxxm:TAF">
                  <sch:assert test="(empty(distinct-values(for $change-forecast in iwxxm:changeForecast return($change-forecast/om:OM_Observation/om:resultTime//gml:timePosition/text()=iwxxm:baseForecast/om:OM_Observation/om:resultTime//gml:timePosition/text())or($change-forecast/om:OM_Observation/om:resultTime/@xlink:href=iwxxm:baseForecast/om:OM_Observation/om:resultTime/@xlink:href))[.=false()]))">TAF: resultTime for the baseForecast and the changeForecasts must match</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="TAF6">
               <sch:rule context="//iwxxm:TAF">
                  <sch:assert test="(empty(distinct-values((iwxxm:issueTime//gml:timePosition/text()=iwxxm:baseForecast/om:OM_Observation/om:resultTime//gml:timePosition/text())or(concat( '#', iwxxm:issueTime//@gml:id )=iwxxm:baseForecast/om:OM_Observation/om:resultTime/@xlink:href))[.=false()]))">TAF: TAF issue time must match the baseForecast resultTime</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="TAF7">
               <sch:rule context="//iwxxm:TAF">
                  <sch:assert test="((: self.baseForecast.changeIndicator == null :)true())">TAF: Base conditions may not have a change indicator</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="MeteorologicalAerodromeForecast1">
               <sch:rule context="//iwxxm:TAF">
                  <sch:assert test="((exists(//om:OM_Observation/om:validTime/gml:TimePeriod))or(concat( '#', //iwxxm:validTime/gml:TimePeriod/@gml:id ) = //om:OM_Observation/om:validTime/@xlink:href))">MeteorologicalAerodromeForecast: The OM validTime must be a time period for TAF forecasts</sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TAFType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element maxOccurs="1" minOccurs="0" name="baseForecast" type="om:OM_ObservationPropertyType">
                  <annotation>
                     <documentation>The prevailing conditions.  Mandatory in all cases except missing or cancelled reports</documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="changeForecast" type="om:OM_ObservationPropertyType">
                  <annotation>
                     <documentation>Forecast that modifies the base forecast.  While there is no maximum number of forecasts,
                        this should normally not exceed five in number (Annex 3 Section 1.5). &lt;b&gt;&lt;u&gt; &lt;/u&gt;&lt;/b&gt;Annex
                        3: Section 1.5: "The number of change and probability groups should be kept to a minimum
                        and should not normally exceed five groups".
                     </documentation>
                  </annotation>
               </element>
               <element maxOccurs="1" minOccurs="0" name="humanReadableText" type="iwxxm:LanguageStringPropertyType">
                  <annotation>
                     <documentation>Human-readable, descriptive text that cannot be sensibly represented in any other
                        form.  This report element encapsulates the human-generated text that is intended
                        for other downstream human recipients.  All other elements of the report capture machine-readable
                        information that can be anticipated in advance as part of the reporting structure.
                        It is not valid to include any machine-readable information or extended content in
                        this text under any circumstances. Human-readable text may be considered opaque to
                        parsing software and should be used minimally.  This text is not to be confused with
                        Traditional Alphanumeric Code (TAC) form remarks ("RMK"), which have been used for
                        many purposes beyond human-readable text.
                     </documentation>
                  </annotation>
               </element>
               <element name="issueTime" type="gml:TimeInstantPropertyType">
                  <annotation>
                     <documentation>The time at which this report was issued.  Note that this should be identical to the
                        resultTime of each MeteorologicalAerodromeForecast, whose results are made available
                        at the same time as this report.  TAF reports have an issueTime to assist in discovery
                        and to provide unambiguous semantics at the report level.
                     </documentation>
                  </annotation>
               </element>
               <element maxOccurs="1" minOccurs="0" name="previousReportAerodrome" type="saf:AerodromePropertyType">
                  <annotation>
                     <documentation>The aerodrome of the previously-issued report being amended or cancelled</documentation>
                  </annotation>
               </element>
               <element maxOccurs="1" minOccurs="0" name="previousReportValidPeriod" type="gml:TimePeriodPropertyType">
                  <annotation>
                     <documentation>The valid time period for the previously amended and/or cancelled report</documentation>
                  </annotation>
               </element>
               <element name="validTime" type="gml:TimePeriodPropertyType">
                  <annotation>
                     <documentation>The time frame at which this report is valid.  All forecast elements should be valid
                        within this period
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="status" type="iwxxm:TAFReportStatusType" use="required"/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TAFPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:TAF"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AerodromeAirTemperatureForecast" substitutionGroup="gml:AbstractObject" type="iwxxm:AerodromeAirTemperatureForecastType">
      <annotation>
         <documentation>An aggregation of air temperature forecast conditions typically reported together
            at an aerodrome, including the minimum and maximum anticipated air temperatures and
            when they occur.  AerodromeAirTemperatureForecast is only reported on base conditions
            on a TAF, not change forecasts.
         </documentation>
      </annotation>
   </element>
   <complexType name="AerodromeAirTemperatureForecastType">
      <sequence>
         <element name="maximumAirTemperature" type="met-basic:AirTemperatureType">
            <annotation>
               <documentation>The maximum air temperature  Annex 3: "TX"</documentation>
            </annotation>
         </element>
         <element name="maximumAirTemperatureTime" type="gml:TimeInstantPropertyType">
            <annotation>
               <documentation>The time of occurrence of the maximum air temperature.  This must be within the period
                  of the phenomenon time for this forecast record  Annex 3: "TX"
               </documentation>
            </annotation>
         </element>
         <element name="minimumAirTemperature" type="met-basic:AirTemperatureType">
            <annotation>
               <documentation>The minimum air temperature  Annex 3: "TX"</documentation>
            </annotation>
         </element>
         <element name="minimumAirTemperatureTime" type="gml:TimeInstantPropertyType">
            <annotation>
               <documentation>The time of occurrence of the minimum air temperature.  This must be within the period
                  of the phenomenon time for this forecast record  Annex 3: "TX"
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="AerodromeAirTemperatureForecastPropertyType">
      <sequence>
         <element ref="iwxxm:AerodromeAirTemperatureForecast"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="AerodromeForecastChangeIndicatorType">
      <annotation>
         <documentation>The forecast change indicator type, including temporary, permanent, or probable conditions.
            This is an extension of ForecastChangeIndicator that includes report-specific entries,
            and in particular the 30 and 40% probability conditions.  Design note: These values
            represent the operationally-representable types, but are not very general-purpose.
            Especially with temporary conditions and probability it might be better to turn these
            into a "probability" property and constraints could be applied to the value to match
            operational constraints
         </documentation>
      </annotation>
      <restriction base="string">
         <enumeration value="BECOMING">
            <annotation>
               <documentation>When the change is forecast to commence at the beginning of the forecast period and
                  be completed by the end of that period, or when the change is forecast to occur within
                  the forecast period but the time of the change is uncertain (possibly shortly after
                  the beginning of the forecast period, or midway or near the end of that period), the
                  change shall be indicated by only the change indicator BECMG.  Enumerations can not
                  inherit from other enumeration types in HollowWorld.  This class duplicates the enumerated
                  types present in WMO ForecastChangeIndicator.
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="TEMPORARY_FLUCTUATIONS">
            <annotation>
               <documentation>The change indicator TEMPO shall be used to describe expected temporary fluctuations
                  to meteorological conditions which reach or pass specified threshold criteria and
                  last for a period of less than one hour in each instance and in the aggregate cover
                  less than half of the forecast period during which the fluctuations are expected to
                  occur.  Enumerations can not inherit from other enumeration types in HollowWorld.
                  This class duplicates the enumerated types present in WMO ForecastChangeIndicator.
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="FROM">
            <annotation>
               <documentation>The change indicator FROM shall be used to describe expected permanent fluctuations
                  to meteorological conditions.  Forecast conditions given before the FROM group are
                  superseded by the conditions indicated after the group.  Annex 3: "FROM"
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="PROBABILITY_30">
            <annotation>
               <documentation>A 30% probability of occurrence of an alternative value of a forecast element or elements.
                  Annex 3: "PROB30"
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="PROBABILITY_30_TEMPORARY_FLUCTUATIONS">
            <annotation>
               <documentation>A 30% probability of occurrence of temporary conditions of an alternative value of
                  a forecast element or elements.  Annex 3: "PROB30 TEMPO"
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="PROBABILITY_40">
            <annotation>
               <documentation>A 40% probability of occurrence of an alternative value of a forecast element or elements.
                  Annex 3: "PROB40"
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="PROBABILITY_40_TEMPORARY_FLUCTUATIONS">
            <annotation>
               <documentation>A 40% probability of occurrence of temporary conditions of an alternative value of
                  a forecast element or elements.  Annex 3: "PROB40 TEMPO"
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TAFReportStatusType">
      <annotation>
         <documentation>The report status for a TAF report, either a normal issuance, an amendment of an earlier
            report, a cancellation of an earlier report, or a correction of an earlier report
         </documentation>
      </annotation>
      <restriction base="string">
         <enumeration value="NORMAL">
            <annotation>
               <documentation>An normal issuance of a TAF</documentation>
            </annotation>
         </enumeration>
         <enumeration value="AMENDMENT">
            <annotation>
               <documentation>An amendment of an earlier TAF</documentation>
            </annotation>
         </enumeration>
         <enumeration value="CANCELLATION">
            <annotation>
               <documentation>A cancellation of an earlier TAF</documentation>
            </annotation>
         </enumeration>
         <enumeration value="CORRECTION">
            <annotation>
               <documentation>A correction of an earlier TAF</documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
</schema>
