2.0RC1/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" targetNamespace="http://icao.int/iwxxm/2.0RC1" version="2.0RC1" xmlns:iwxxm="http://icao.int/iwxxm/2.0RC1" xmlns:aixm="http://www.aixm.aero/schema/5.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns="http://www.w3.org/2001/XMLSchema">
	<include schemaLocation="measures.xsd"></include>
	<import namespace="http://www.aixm.aero/schema/5.1" schemaLocation="http://www.aixm.aero/schema/5.1_profiles/AIXM_WX/5.1a/AIXM_Features.xsd"></import>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"></import>
	<annotation>
		<documentation>Common constructs used across multiple packages.  This package includes constructs closely related to the aviation weather domain.

References to WMO and ICAO Technical Regulations within this XML schema shall have no formal status and are for information purposes only. Where there are differences between the Technical Regulations and the schema, the Technical Regulations shall take precedence. Technical Regulations may impose requirements that are not described in this schema.</documentation>
	</annotation>
	<element name="AerodromeCloudForecast" type="iwxxm:AerodromeCloudForecastType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>Forecast cloud conditions, including predicted vertical visibility and cloud layers.  

A single vertical visibility may be reported, but cannot be reported with cloud layers.</documentation>
		</annotation>
	</element>
	<complexType name="AerodromeCloudForecastType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="verticalVisibility" type="gml:LengthType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>The vertical visibility.  Vertical visibility is defined as the vertical visual range into an obscuring medium.

Vertical visibility shall be reported either in meters ("m") or feet ("[ft_i]").</documentation>
							<appinfo>
								<quantity>http://codes.wmo.int/common/quantity-kind/verticalVisibility</quantity>
							</appinfo>
						</annotation>
					</element>
					<element name="layer" type="iwxxm:CloudLayerPropertyType" minOccurs="0" maxOccurs="4"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AerodromeCloudForecastPropertyType">
		<sequence minOccurs="0">
			<element ref="iwxxm:AerodromeCloudForecast"></element>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"></attributeGroup>
		<attributeGroup ref="gml:OwnershipAttributeGroup"></attributeGroup>
	</complexType>
	<element name="AerodromeSurfaceWindForecast" type="iwxxm:AerodromeSurfaceWindForecastType" substitutionGroup="iwxxm:AerodromeSurfaceWindTrendForecast">
		<annotation>
			<documentation>A forecast of wind conditions at an aerodrome.  

Wind direction shall be given in degrees from true North. Plane angle unit of measure (uom) is "deg".  A true north wind is indicated with a direction of 360. Calm wind is indicated with a direction of 0. Wind speeds and gusts, if present, shall be provided in either two units of measures: "m/s" or "[kn_i]" (knot).

This extends AerodromeSurfaceWindTrendForecast to allow for a variable wind direction to be reported.  This class differs from a aerodrome wind observation in that the observations may include a min/max directional variability.  This class only carries a true/false indication that it will be variable.</documentation>
		</annotation>
	</element>
	<complexType name="AerodromeSurfaceWindForecastType">
		<complexContent>
			<extension base="iwxxm:AerodromeSurfaceWindTrendForecastType">
				<sequence></sequence>
				<attribute name="variableWindDirection" type="boolean"></attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AerodromeSurfaceWindForecastPropertyType">
		<sequence minOccurs="0">
			<element ref="iwxxm:AerodromeSurfaceWindForecast"></element>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"></attributeGroup>
		<attributeGroup ref="gml:OwnershipAttributeGroup"></attributeGroup>
	</complexType>
	<element name="CloudLayer" type="iwxxm:CloudLayerType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>A cloud layer, including a cloud amount, cloud base and cloud type.</documentation>
		</annotation>
	</element>
	<complexType name="CloudLayerType">
		<sequence>
			<element name="amount" type="iwxxm:CloudAmountReportedAtAerodromeType">
				<annotation>
					<documentation>The observed cloud amount</documentation>
				</annotation>
			</element>
			<element name="base" type="iwxxm:DistanceWithNilReasonType">
				<annotation>
					<documentation>For a given cloud or cloud layer, height of the lowest level in the atmosphere at which the air contains a perceptible quantity of cloud particles.

Measured cloud bases  shall be reported in meters ("m") or feet ("[ft_i]").</documentation>
					<appinfo>
						<quantity>http://codes.wmo.int/common/quantity-kind/heightOfBaseOfCloud</quantity>
					</appinfo>
				</annotation>
			</element>
			<element name="cloudType" type="iwxxm:SigConvectiveCloudTypeType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The observed significant cloud types: cumulonimbus or towering cumulus</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="CloudLayerPropertyType">
		<sequence>
			<element ref="iwxxm:CloudLayer"></element>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"></attributeGroup>
	</complexType>
	<element name="AerodromeSurfaceWindTrendForecast" type="iwxxm:AerodromeSurfaceWindTrendForecastType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>A trend forecast of surface wind conditions at an aerodrome.</documentation>
		</annotation>
	</element>
	<complexType name="AerodromeSurfaceWindTrendForecastType">
		<sequence>
			<element name="meanWindDirection" type="gml:AngleType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The forecast average wind direction from which wind is blowing.

Wind direction shall be given in degrees from true North. Plane angle unit of measure (uom) is "deg".  A true north wind is indicated with a direction of 360. Calm wind is indicated with a direction of 0.</documentation>
					<appinfo>
						<quantity>http://codes.wmo.int/common/quantity-kind/windDirection</quantity>
					</appinfo>
				</annotation>
			</element>
			<element name="meanWindSpeed" type="gml:SpeedType">
				<annotation>
					<documentation>The forecast average wind speed.

Wind speeds shall be provided in either two units of measures: "m/s" or "[kn_i]" (knot).</documentation>
					<appinfo>
						<quantity> http://codes.wmo.int/common/quantity-kind/windSpeed</quantity>
					</appinfo>
				</annotation>
			</element>
			<element name="windGustSpeed" type="gml:SpeedType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The forecast maximum speed of a gust.

Wind gusts shall be provided in either two units of measures: "m/s" or "[kn_i]" (knot).</documentation>
					<appinfo>
						<quantity>http://codes.wmo.int/common/quantity-kind/maximumWindGustSpeed</quantity>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="AerodromeSurfaceWindTrendForecastPropertyType">
		<sequence>
			<element ref="iwxxm:AerodromeSurfaceWindTrendForecast"></element>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"></attributeGroup>
	</complexType>
	<simpleType name="RelationalOperatorType">
		<annotation>
			<documentation>RelationalOperator defines the restricted set of operators that may be specified alongside numerical quantities in ICAO Annex 3/WMO No. 49.

These operators are used in cases where a precise value is not measurable, not precisely known due to measurement limitations, or not reported due to reporting restrictions.

For example, the "above" operator in conjunction with the reported quantity 10.6 indicates that the actual physical quantity is above 10.6 (at least 10.6).</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="BELOW">
				<annotation>
					<documentation>The actual value is below the minimum value that can be determined by the system ("BLW", "M")</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ABOVE">
				<annotation>
					<documentation>The actual value is above the maximum value that can be determined by the system ("ABV", "P")</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<element name="AerodromeForecastWeather" type="iwxxm:AerodromeForecastWeatherType"></element>
	<complexType name="AerodromeForecastWeatherType">
		<annotation>
			<documentation>AerodromeForecastWeather enables the forecast weather at an aerodrome to be reported.

Only a specific set of weather phenomenon are reported within aviation meteorology as defined in Regulation ICAO Annex 3 / WMO No. 49-2.

This CodeList is specifically defined for aviation purposes as defined in WMO No. 49-2. A superset of definitions are defined in WMO No. 306 Vol I.1 code-table 4678 "Significant weather phenomena".</documentation>
			<appinfo>
				<vocabulary>http://codes.wmo.int/49-2/AerodromeForecastWeather</vocabulary>
				<extensibility>none</extensibility>
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="gml:ReferenceType"></extension>
		</complexContent>
	</complexType>
	<element name="SigConvectiveCloudType" type="iwxxm:SigConvectiveCloudTypeType"></element>
	<complexType name="SigConvectiveCloudTypeType">
		<annotation>
			<documentation>Genus of cloud of operational significance to aviation: significant convective clouds only.

- Cumulonimbus
- Towering cumulus

This CodeList is specifically defined for aviation purposes, as defined in WMO No. 49-2. A superset of definitions are defined in WMO No. 306 Vol I.2 FM 94 BUFR code-table 0 20 012 "Cloud type".</documentation>
			<appinfo>
				<vocabulary>http://codes.wmo.int/49-2/SigConvectiveCloudType</vocabulary>
				<extensibility>none</extensibility>
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="gml:ReferenceType"></extension>
		</complexContent>
	</complexType>
	<element name="CloudAmountReportedAtAerodrome" type="iwxxm:CloudAmountReportedAtAerodromeType"></element>
	<complexType name="CloudAmountReportedAtAerodromeType">
		<annotation>
			<documentation>Amount of cloud - assessed by category:

- Sky clear (0 oktas)
- Few (1 - 2 oktas)
- Scattered (3 - 4 oktas)
- Broken (5 - 7 oktas)
- Overcast (8 oktas)

This CodeList is specifically defined for aviation purposes, as defined in WMO No. 49-2. A superset of cloud-amount categories are defined in WMO No. 306 Vol I.2 FM 94 BUFR code-table 0 20 008 "Cloud distribution for aviation".</documentation>
			<appinfo>
				<vocabulary>http://codes.wmo.int/49-2/CloudAmountReportedAtAerodrome</vocabulary>
				<extensibility>none</extensibility>
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="gml:ReferenceType"></extension>
		</complexContent>
	</complexType>
	<complexType name="UnitPropertyType">
		<sequence minOccurs="0">
			<element ref="aixm:Unit"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="AirspacePropertyType">
		<sequence minOccurs="0">
			<element ref="aixm:Airspace"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="AirspaceVolumePropertyType">
		<sequence minOccurs="0">
			<element ref="aixm:AirspaceVolume"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="AirportHeliportPropertyType">
		<sequence minOccurs="0">
			<element ref="aixm:AirportHeliport"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="RunwayPropertyType">
		<sequence minOccurs="0">
			<element ref="aixm:Runway"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="RunwayDirectionPropertyType">
		<sequence minOccurs="0">
			<element ref="aixm:RunwayDirection"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
