2.0RC1/sigmet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" targetNamespace="http://icao.int/iwxxm/2.0RC1" version="2.0RC1" xmlns:iwxxm="http://icao.int/iwxxm/2.0RC1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:om="http://www.opengis.net/om/2.0" xmlns:metce="http://def.wmo.int/metce/2013" xmlns="http://www.w3.org/2001/XMLSchema">
	<include schemaLocation="common.xsd"></include>
	<import namespace="http://def.wmo.int/metce/2013" schemaLocation="http://schemas.wmo.int/metce/1.1/metce.xsd"></import>
	<import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"></import>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"></import>
	<annotation>
		<documentation>SIGMET reporting constructs as defined in ICAO Annex 3 / WMO No. 49-2.

SIGMETs report the occurrence and/or expected occurrence of specified en-route weather phenomena which may affect the safety of aircraft operations, and of the development of those phenomena in time and space.  These weather phenomena are reported as impacted regions of airspace.

References to WMO and ICAO Technical Regulations within this XML schema shall have no formal status and are for information purposes only. Where there are differences between the Technical Regulations and the schema, the Technical Regulations shall take precedence. Technical Regulations may impose requirements that are not described in this schema.</documentation>
	</annotation>
	<element name="MeteorologicalPosition" type="iwxxm:MeteorologicalPositionType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Conditions that indicate the presence of a specific SIGMET phenomenon such as volcanic ash or a thunderstorm.  Used to represent the forecast positions of SIGMET phenomena.

TC TOP (ABV and BLW) conditions are represented by the vertical component of the geometry.  For example: CB TOP FL500 is represented as a missing lowerLimit and an upperLimit of 500FL. 

In cases where the position covers an entire FIR or CTA, ("ENTIRE CTA or ENTIRE FIR" from ICAO Annex 3 / WMO No. 49-2) the geometry should be an xlink to the sampled feature for this SIGMET.</documentation>
		</annotation>
	</element>
	<complexType name="MeteorologicalPositionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="geometry" type="iwxxm:AirspaceVolumePropertyType">
						<annotation>
							<documentation>The geographic region affected by the reported phenomenon at a particular time (thunderstorms, volcanic ash, etc.).  This geometry covers all combinations of phenomenon historically reported in Annex 3: a boundary with a base and top, a TC centre position, and a VA line with a width</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MeteorologicalPositionPropertyType">
		<sequence minOccurs="0">
			<element ref="iwxxm:MeteorologicalPosition"></element>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"></attributeGroup>
		<attributeGroup ref="gml:OwnershipAttributeGroup"></attributeGroup>
	</complexType>
	<element name="SIGMET" type="iwxxm:SIGMETType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>A SIGMET (significant meteorological) report. SIGMETs report the occurrence and/or expected occurrence of specified en-route weather phenomena which may affect the safety of aircraft operations, and of the development of those phenomena over time. 

The SIGMET report class represents the base SIGMET types that may be reported such as squall lines, thunderstorms, dust storms, turbulence, etc. Tropical cyclone and volcanic ash SIGMET reports are subclasses of SIGMET due to their ability to report additional information, including volcano/tropical cyclone identification and forecast position(s).

SIGMETs may report either observed or forecast hazardous conditions. Additionally, a forecast position may be reported.</documentation>
		</annotation>
	</element>
	<complexType name="SIGMETType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="issuingAirTrafficServicesUnit" type="iwxxm:UnitPropertyType">
						<annotation>
							<documentation>The ATS unit serving the FIR or CTA to which the SIGMET refers

ICAO Annex 3 / WMO No. 49-2:
A6-1: "Location indicator of FIR/CTA"</documentation>
						</annotation>
					</element>
					<element name="originatingMeteorologicalWatchOffice" type="iwxxm:UnitPropertyType">
						<annotation>
							<documentation>MWO originating this report</documentation>
						</annotation>
					</element>
					<element name="sequenceNumber" type="string">
						<annotation>
							<documentation>The sequence number of this message.  For example: "5", "A3", or "2"</documentation>
						</annotation>
					</element>
					<element name="validPeriod" type="gml:TimePeriodPropertyType">
						<annotation>
							<documentation>The valid period for the entire report, including all observations and forecast conditions.  Each observation/forecast phenomenon includes its own period of validity for described meteorological conditions, which is represented as the O&amp;M Observation validTime.

For example, an issued tropical cyclone SIGMET may be valid from 1600 UTC to 2200 UTC with an observed position at 1600 UTC and a forecast position of the centre of the tropical cyclone at 2200 UTC.  In this case the SIGMET validPeriod would be 1600 UTC to 2200 UTC, the analysis validTime would be 1600 UTC, and the forecastPositionAnalysis validTime would be 2200 UTC.</documentation>
						</annotation>
					</element>
					<element name="cancelledSequenceNumber" type="string" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>The cancelled SIGMET sequence number.  Mandatory when this is a cancellation report, must be missing otherwise

Examples:
YUDD SIGMET 2 VALID ...
YUDD SIGMET A3 VALID ...</documentation>
						</annotation>
					</element>
					<element name="cancelledValidPeriod" type="gml:TimePeriodPropertyType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>The valid period of a previous SIGMET that is cancelled by this SIGMET.  Mandatory when this is a cancellation report, must be missing otherwise</documentation>
						</annotation>
					</element>
					<element name="phenomenon" type="iwxxm:AeronauticalSignificantWeatherPhenomenonType">
						<annotation>
							<documentation>The reported phenomenon, such as thunderstorm, tropical cyclone, icing, mountain wave, etc.

The expected end of occurrence of volcanic ash ("NO VA EXP") is indicated with a missing SIGMET phenomenon with a nil reason of nothingOfOperationalSignificance</documentation>
						</annotation>
					</element>
					<element name="analysis" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>SIGMETs may include the same phenomenon covering more than one area within the FIR/UIR/CTA, as well as observed and forecast conditions for each of these reported areas.  All combinations of observations and forecasts of meteorological conditions, including changing conditions, are represented by their own SIGMETEvolvingMeteorologicalCondition.

Each analysis has a single EvolvingMeteorologicalCondition as its result.  </documentation>
						</annotation>
					</element>
				</sequence>
				<attribute use="required" name="status" type="iwxxm:SIGMETReportStatusType"></attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SIGMETPropertyType">
		<sequence minOccurs="0">
			<element ref="iwxxm:SIGMET"></element>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"></attributeGroup>
		<attributeGroup ref="gml:OwnershipAttributeGroup"></attributeGroup>
	</complexType>
	<element name="EvolvingMeteorologicalCondition" type="iwxxm:EvolvingMeteorologicalConditionType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Conditions that indicate the presence of a specific SIGMET phenomenon such as volcanic ash or a thunderstorm, along with expected changes to the phenomenon such as intensity, speed, and direction.  These conditions are reported with OBS/FCST conditions on all SIGMET types.

TC TOP (ABV and BLW) conditions are represented by the vertical component of the geometry.  For example: CB TOP FL500 is represented as a missing lowerLimit and an upperLimit of 500FL.  

directionOfMotion element refers to the direction which the phenomenon is moving towards, .e.g, "moving to the east". directionOfMotion is given in degrees from true North. Plane angle unit of measure (uom) is "deg". 

speedOfMotion can be provided in either two units of measures: "km/h" or "kn_i" (knots).


Design note:
This class is no longer a subclass of MeteorologicalPosition. This change was made to ensure that there is no confusion between the two classes when results from different OM_Observation types are populated.  Constraints could be used to ensure a specific superclass but not its subclasses are valid, but this would disallow the use of sub-classes of this type for other purposes such as regional extension</documentation>
		</annotation>
	</element>
	<complexType name="EvolvingMeteorologicalConditionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="directionOfMotion" type="gml:AngleType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>This element refers to the expected direction of movement which the phenomenon is moving towards, .e.g, "moving east". When no movement is expected, this is a http://www.opengis.net/def/nil/OGC/0/inapplicable nilReason and the speedOfMotion will be 0.

This element value is given in degrees from true North. Plane angle unit of measure (uom) is "deg". </documentation>
						</annotation>
					</element>
					<element name="geometry" type="iwxxm:AirspaceVolumePropertyType">
						<annotation>
							<documentation>The expected geographic region affected by the reported phenomenon at a particular time (thunderstorms, volcanic ash, etc.).  This geometry covers all combinations of phenomenon historically reported in ICAO Annex 3 / WMO No. 49-2: a boundary with a base and top, a TC centre position, and a VA line with a width</documentation>
						</annotation>
					</element>
					<element name="speedOfMotion" type="gml:SpeedType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>The expected speed of movement of a meteorological condition. When no movement is expected, this will have a value of 0 and directionOfMotion will have a http://www.opengis.net/def/nil/OGC/0/inapplicable nilReason.

speedOfMotion can be provided in either two units of measures: "km/h" or "[kn_i]" (knots).</documentation>
						</annotation>
					</element>
				</sequence>
				<attribute use="required" name="intensityChange" type="iwxxm:ExpectedIntensityChangeType"></attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EvolvingMeteorologicalConditionPropertyType">
		<sequence minOccurs="0">
			<element ref="iwxxm:EvolvingMeteorologicalCondition"></element>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"></attributeGroup>
		<attributeGroup ref="gml:OwnershipAttributeGroup"></attributeGroup>
	</complexType>
	<element name="TropicalCycloneSIGMET" type="iwxxm:TropicalCycloneSIGMETType" substitutionGroup="iwxxm:SIGMET">
		<annotation>
			<documentation>A SIGMET that reports the presence of a tropical cyclone conditions.  This extends the base SIGMET type by including additional information necessary for tropical cyclones.</documentation>
		</annotation>
	</element>
	<complexType name="TropicalCycloneSIGMETType">
		<complexContent>
			<extension base="iwxxm:SIGMETType">
				<sequence>
					<element name="forecastPositionAnalysis" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>One or more forecast positions at the end of the valid period - one for each phenomenon area within an FIR.  These are modeled as a single OM_Observation sub-type with a feature collection result due to the shared time and other observation metadata for all forecast positions.</documentation>
						</annotation>
					</element>
					<element name="tropicalCyclone" type="metce:TropicalCyclonePropertyType">
						<annotation>
							<documentation>The tropical cyclone being reported in this SIGMET</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TropicalCycloneSIGMETPropertyType">
		<sequence minOccurs="0">
			<element ref="iwxxm:TropicalCycloneSIGMET"></element>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"></attributeGroup>
		<attributeGroup ref="gml:OwnershipAttributeGroup"></attributeGroup>
	</complexType>
	<element name="VolcanicAshSIGMET" type="iwxxm:VolcanicAshSIGMETType" substitutionGroup="iwxxm:SIGMET">
		<annotation>
			<documentation>A SIGMET that reports the presence of volcanic ash conditions hazardous to flight.  This extends the base SIGMET type by including additional information necessary for volcanoes and volcanic ash.</documentation>
		</annotation>
	</element>
	<complexType name="VolcanicAshSIGMETType">
		<complexContent>
			<extension base="iwxxm:SIGMETType">
				<sequence>
					<element name="forecastPositionAnalysis" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>One or more forecast positions at the end of the valid period - one for each phenomenon area within an FIR.  These are modeled as a single OM_Observation sub-type with a feature collection result due to the shared time and other observation metadata for all forecast positions.</documentation>
						</annotation>
					</element>
					<element name="eruptingVolcano" type="metce:VolcanoPropertyType">
						<annotation>
							<documentation>The volcano that is erupting</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VolcanicAshSIGMETPropertyType">
		<sequence minOccurs="0">
			<element ref="iwxxm:VolcanicAshSIGMET"></element>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"></attributeGroup>
		<attributeGroup ref="gml:OwnershipAttributeGroup"></attributeGroup>
	</complexType>
	<element name="MeteorologicalPositionCollection" type="iwxxm:MeteorologicalPositionCollectionType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>A collection of MeteorologicalPositions, each representing a location where meteorological conditions exist.  All members of this collection are of type MeteorologicalPosition.</documentation>
		</annotation>
	</element>
	<complexType name="MeteorologicalPositionCollectionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="member" type="iwxxm:MeteorologicalPositionPropertyType" minOccurs="0" maxOccurs="unbounded"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MeteorologicalPositionCollectionPropertyType">
		<sequence minOccurs="0">
			<element ref="iwxxm:MeteorologicalPositionCollection"></element>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"></attributeGroup>
		<attributeGroup ref="gml:OwnershipAttributeGroup"></attributeGroup>
	</complexType>
	<simpleType name="ExpectedIntensityChangeType">
		<annotation>
			<documentation>Expected change in intensity for (significant) meteorological phenomena.

See WMO No. 306 Vol I.2 Part B FM 94 BUFR code-table 0 20 028 'Expected change in intensity'</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="NO_CHANGE">
				<annotation>
					<documentation>No change (NC)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WEAKEN">
				<annotation>
					<documentation>Forecast to weaken (WKN)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="INTENSIFY">
				<annotation>
					<documentation>Forecast to intensify (INTSF)</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="SIGMETReportStatusType">
		<annotation>
			<documentation>The status of a SIGMET report (e.g., a normal issuance, a cancellation of an earlier SIGMET)</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="NORMAL">
				<annotation>
					<documentation>A normal SIGMET report (not a cancellation)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CANCELLATION">
				<annotation>
					<documentation>A cancellation of an earlier SIGMET report</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<complexType name="AeronauticalSignificantWeatherPhenomenonType">
		<annotation>
			<documentation>Weather phenomenon of significance to aviation operations; used in SIGMET and AIRMET reports. The set of permitted options are defined in ICAO Annex 3 / WMO No. 49-2 C.3.1 sub-clause 1.1.4</documentation>
			<appinfo>
				<vocabulary>http://codes.wmo.int/49-2/SigWxPhenomena</vocabulary>
				<extensibility>none</extensibility>
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="gml:ReferenceType"></extension>
		</complexContent>
	</complexType>
</schema>
