IWXXM/common.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:iwxxm="http://icao.int/iwxxm/1.0" xmlns:saf="http://icao.int/saf/1.0" targetNamespace="http://icao.int/iwxxm/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <annotation>
      <documentation>References to WMO and ICAO Technical Regulations within this XML schema shall have
         no formal status and are for information purposes only. Where there are differences
         between the Technical Regulations and the schema, the Technical Regulations shall
         take precedence. Technical Regulations may impose requirements that are not described
         in this schema.
      </documentation>
      <documentation>Common constructs used across multiple packages.  This package includes constructs
         closely related to the aviation weather domain.
      </documentation>
      <appinfo>
         <sch:title xmlns:sch="http://purl.oclc.org/dsdl/schematron">Schematron validation</sch:title>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="iwxxm" uri="http://icao.int/iwxxm/1.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="saf" uri="http://icao.int/saf/1.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sam" uri="http://www.opengis.net/sampling/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sams" uri="http://www.opengis.net/samplingSpatial/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="om" uri="http://www.opengis.net/om/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="gml" uri="http://www.opengis.net/gml/3.2"/>
      </appinfo>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <import namespace="http://icao.int/saf/1.0" schemaLocation="http://schemas.wmo.int/saf/1.0/saf.xsd"/>
   <include schemaLocation="iwxxm.xsd"/>
   <element name="AerodromeCloudForecast" substitutionGroup="gml:AbstractGML" type="iwxxm:AerodromeCloudForecastType">
      <annotation>
         <documentation>Forecast cloud conditions, including predicted vertical visibility and cloud layers.
            A single vertical visibility may be reported, but cannot be reported with cloud layers.
         </documentation>
         <appinfo/>
      </annotation>
   </element>
   <complexType name="AerodromeCloudForecastType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element maxOccurs="1" minOccurs="0" name="verticalVisibility" type="gml:LengthType">
                  <annotation>
                     <appinfo>
                        <quantity>http://codes.wmo.int/common/c-15/ae/verticalVisibility</quantity>
                     </appinfo>
                     <documentation>The vertical visibility.  Vertical visibility is defined as the vertical visual range
                        into an obscuring medium.
                        
                        quantity: http://codes.wmo.int/common/c-15/ae/verticalVisibility
                     </documentation>
                  </annotation>
               </element>
               <element maxOccurs="4" minOccurs="0" name="layer" type="iwxxm:CloudLayerPropertyType"/>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="AerodromeCloudForecastPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:AerodromeCloudForecast"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AerodromeSurfaceWindForecast" substitutionGroup="iwxxm:AerodromeSurfaceWindTrendForecast" type="iwxxm:AerodromeSurfaceWindForecastType">
      <annotation>
         <documentation>A forecast of wind conditions at an aerodrome.    This extends AerodromeSurfaceWindTrendForecast
            to allow for a variable wind direction to be reported.  This class differs from a
            aerodrome wind observation in that the observations may include a min/max directional
            variability.  This class only carries a true/false indication that it will be variable.
         </documentation>
      </annotation>
   </element>
   <complexType name="AerodromeSurfaceWindForecastType">
      <complexContent>
         <extension base="iwxxm:AerodromeSurfaceWindTrendForecastType">
            <attribute name="variableWindDirection" type="boolean" use="required"/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="AerodromeSurfaceWindForecastPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:AerodromeSurfaceWindForecast"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="CloudLayer" substitutionGroup="gml:AbstractObject" type="iwxxm:CloudLayerType">
      <annotation>
         <documentation>A cloud layer, including a cloud amount, cloud base and cloud type</documentation>
      </annotation>
   </element>
   <complexType name="CloudLayerType">
      <sequence>
         <element name="amount" type="iwxxm:CloudAmountReportedAtAerodromeType">
            <annotation>
               <documentation>The observed cloud amount</documentation>
            </annotation>
         </element>
         <element name="base" nillable="true" type="saf:DistanceWithNilReasonType">
            <annotation>
               <appinfo>
                  <quantity>http://codes.wmo.int/common/c-15/me/heightOfBaseOfCloud</quantity>
               </appinfo>
               <documentation>For a given cloud or cloud layer, height of the lowest level in the atmosphere at
                  which the air contains a perceptible quantity of cloud particles.
                  
                  quantity: http://codes.wmo.int/common/c-15/me/heightOfBaseOfCloud
               </documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="cloudType" type="iwxxm:SigConvectiveCloudTypeType">
            <annotation>
               <documentation>The observed significant cloud types: cumulonimbus or towering cumulus</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="CloudLayerPropertyType">
      <sequence>
         <element ref="iwxxm:CloudLayer"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AerodromeSurfaceWindTrendForecast" substitutionGroup="gml:AbstractObject" type="iwxxm:AerodromeSurfaceWindTrendForecastType">
      <annotation>
         <documentation>A trend forecast of surface wind conditions at an aerodrome.</documentation>
      </annotation>
   </element>
   <complexType name="AerodromeSurfaceWindTrendForecastType">
      <sequence>
         <element maxOccurs="1" minOccurs="0" name="meanWindDirection" type="gml:AngleType">
            <annotation>
               <appinfo>
                  <quantity>http://codes.wmo.int/common/c-15/me/windDirection</quantity>
               </appinfo>
               <documentation>The forecast average wind direction from which wind is blowing
                  quantity: http://codes.wmo.int/common/c-15/me/windDirection
               </documentation>
            </annotation>
         </element>
         <element name="meanWindSpeed" type="gml:SpeedType">
            <annotation>
               <appinfo>
                  <quantity>http://codes.wmo.int/common/c-15/me/windSpeed</quantity>
               </appinfo>
               <documentation>The forecast average wind speed
                  quantity: http://codes.wmo.int/common/c-15/me/windSpeed
               </documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="windGustSpeed" type="gml:SpeedType">
            <annotation>
               <appinfo>
                  <quantity>http://codes.wmo.int/common/c-15/me/maximumWindGustSpeed</quantity>
               </appinfo>
               <documentation>The forecast maximum speed of a gust.
                  quantity: http://codes.wmo.int/common/c-15/me/maximumWindGustSpeed
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="AerodromeSurfaceWindTrendForecastPropertyType">
      <sequence>
         <element ref="iwxxm:AerodromeSurfaceWindTrendForecast"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="RelationalOperatorType">
      <annotation>
         <documentation>RelationalOperator defines the restricted set of operators that may be specified alongside
            numerical quantities in ICAO Annex 3/WMO No. 49.  These operators are used in cases
            where a precise value is not measurable, not precisely known due to measurement limitations,
            or not reported due to reporting restrictions.  For example, the "above" operator
            in conjunction with the reported quantity 10.6 indicates that the actual physical
            quantity is above 10.6 (at least 10.6).
         </documentation>
      </annotation>
      <restriction base="string">
         <enumeration value="ABOVE">
            <annotation>
               <documentation>The actual value is above the maximum value that can be determined by the system ("ABV",
                  "P")
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="BELOW">
            <annotation>
               <documentation>The actual value is below the minimum value that can be determined by the system ("BLW",
                  "M")
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <complexType name="AerodromeForecastWeatherType">
      <annotation>
         <appinfo>
            <vocabulary>http://codes.wmo.int/49-2/AerodromeForecastWeather</vocabulary>
            <extensibility>none</extensibility>
         </appinfo>
         <documentation>AerodromeForecastWeather enables the forecast weather at an aerodrome to be reported.
            Only a specific set of weather phenomenon are reported within aviation meteorology
            as defined in Regulation ICAO Annex 3 / WMO No. 49-2.  This ?CodeList? is specifically
            defined for aviation purposes as defined in WMO No. 49-2. A superset of definitions
            are defined in WMO No. 306 Vol I.1 code-table 4678 "Significant weather phenomena".
            
            vocabulary: http://codes.wmo.int/49-2/AerodromeForecastWeather
            extensibility: none
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
   <complexType name="SigConvectiveCloudTypeType">
      <annotation>
         <appinfo>
            <vocabulary>http://codes.wmo.int/49-2/SigConvectiveCloudType</vocabulary>
            <extensibility>none</extensibility>
         </appinfo>
         <documentation>Genus of cloud of operational significance to aviation: significant convective clouds
            only.  - Cumulonimbus - Towering cumulus  This ?CodeList? is specifically defined
            for aviation purposes, as defined in WMO No. 49-2. A superset of definitions are defined
            in WMO No. 306 Vol I.2 FM 94 BUFR code-table 0 20 012 "Cloud type".
            
            vocabulary: http://codes.wmo.int/49-2/SigConvectiveCloudType
            extensibility: none
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
   <complexType name="CloudAmountReportedAtAerodromeType">
      <annotation>
         <appinfo>
            <vocabulary>http://codes.wmo.int/49-2/CloudAmountReportedAtAerodrome</vocabulary>
            <extensibility>none</extensibility>
         </appinfo>
         <documentation>Amount of cloud - assessed by category:  - Sky clear (0 oktas) - Few (1 - 2 oktas)
            - Scattered (3 - 4 oktas) - Broken (5 - 7 oktas) - Overcast (8 oktas)  This ?CodeList?
            is specifically defined for aviation purposes, as defined in WMO No. 49-2. A superset
            of cloud-amount categories are defined in WMO No. 306 Vol I.2 FM 94 BUFR code-table
            0 20 008 "Cloud distribution for aviation".
            
            vocabulary: http://codes.wmo.int/49-2/CloudAmountReportedAtAerodrome
            extensibility: none
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
</schema>