IWXXM/common.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:iwxxm="http://icao.int/iwxxm/1.0RC1" xmlns:met-basic="http://data.wmo.int/def/met-basic/1.0RC1" targetNamespace="http://icao.int/iwxxm/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0RC1">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <annotation>
      <documentation>Common constructs used across multiple packages.  This package includes constructs
         closely related to the aviation weather domain.
      </documentation>
      <appinfo>
         <sch:title xmlns:sch="http://purl.oclc.org/dsdl/schematron">Schematron validation</sch:title>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="opm" uri="http://data.wmo.int/def/opm/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="metce" uri="http://data.wmo.int/def/metce/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="saf" uri="http://icao.int/saf/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="iwxxm" uri="http://icao.int/iwxxm/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sam" uri="http://www.opengis.net/sampling/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sams" uri="http://www.opengis.net/samplingSpatial/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="om" uri="http://www.opengis.net/om/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="gml" uri="http://www.opengis.net/gml/3.2"/>
      </appinfo>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <import namespace="http://data.wmo.int/def/met-basic/1.0RC1" schemaLocation="http://schemas.wmo.int/met-basic/1.0RC1/meteorologicalBasicTypes.xsd"/>
   <include schemaLocation="iwxxm.xsd"/>
   <element name="AerodromeSurfaceWindForecast" substitutionGroup="iwxxm:AerodromeSurfaceWindTrendForecast" type="iwxxm:AerodromeSurfaceWindForecastType">
      <annotation>
         <documentation>A forecast of wind conditions at an aerodrome.    This extends AerodromeSurfaceWindTrendForecast
            to allow for a variable wind direction to be reported.  This class differs from a
            aerodrome wind observation in that the observations may include a min/max directional
            variability.  This class only carries a true/false indication that it will be variable.
         </documentation>
      </annotation>
   </element>
   <complexType name="AerodromeSurfaceWindForecastType">
      <complexContent>
         <extension base="iwxxm:AerodromeSurfaceWindTrendForecastType">
            <attribute name="variableWindDirection" type="boolean" use="required"/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="AerodromeSurfaceWindForecastPropertyType">
      <sequence minOccurs="0">
         <element ref="iwxxm:AerodromeSurfaceWindForecast"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="CloudLayer" substitutionGroup="gml:AbstractObject" type="iwxxm:CloudLayerType">
      <annotation>
         <documentation>A cloud layer, including a cloud amount, cloud base and cloud type</documentation>
      </annotation>
   </element>
   <complexType name="CloudLayerType">
      <sequence>
         <element name="amount" type="met-basic:CloudAmountReportedAtAerodromeType">
            <annotation>
               <documentation>The observed cloud amount</documentation>
            </annotation>
         </element>
         <element name="base" type="met-basic:CloudBaseHeightType">
            <annotation>
               <documentation>The observed cloud base</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="cloudType" type="met-basic:SigConvectiveCloudTypeType">
            <annotation>
               <documentation>Optional cloud type, either cumulonimbus or towering cumulus</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="CloudLayerPropertyType">
      <sequence>
         <element ref="iwxxm:CloudLayer"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AerodromeCloudForecast" substitutionGroup="gml:AbstractObject" type="iwxxm:AerodromeCloudForecastType">
      <annotation>
         <documentation>Forecast cloud conditions, including predicted vertical visibility and cloud layers.
            A single vertical visibility may be reported, but cannot be reported with cloud layers.
            
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="AerodromeCloudForecast1">
               <sch:rule context="//iwxxm:AerodromeCloudForecast">
                  <sch:assert test="(if( exists(iwxxm:verticalVisibility) ) then empty(iwxxm:layer) else true())">AerodromeCloudForecast: Vertical visibility cannot be reported together with cloud
                     layers
                  </sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="AerodromeCloudForecastType">
      <sequence>
         <element maxOccurs="1" minOccurs="0" name="verticalVisibility" type="met-basic:VerticalVisibilityType">
            <annotation>
               <documentation>The vertical visibility</documentation>
            </annotation>
         </element>
         <element maxOccurs="4" minOccurs="0" name="layer" type="iwxxm:CloudLayerPropertyType"/>
      </sequence>
   </complexType>
   <complexType name="AerodromeCloudForecastPropertyType">
      <sequence>
         <element ref="iwxxm:AerodromeCloudForecast"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AerodromeSurfaceWindTrendForecast" substitutionGroup="gml:AbstractObject" type="iwxxm:AerodromeSurfaceWindTrendForecastType">
      <annotation>
         <documentation>A trend forecast of surface wind conditions at an aerodrome.</documentation>
      </annotation>
   </element>
   <complexType name="AerodromeSurfaceWindTrendForecastType">
      <sequence>
         <element maxOccurs="1" minOccurs="0" name="meanWindDirection" type="met-basic:WindDirectionType">
            <annotation>
               <documentation>The forecast average wind direction.  Not reported when winds have variable direction</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="windGustSpeed" type="met-basic:GustSpeedType">
            <annotation>
               <documentation>The forecast maximum wind speed</documentation>
            </annotation>
         </element>
         <element name="windSpeed" type="met-basic:WindSpeedType">
            <annotation>
               <documentation>The forecast wind speed</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="AerodromeSurfaceWindTrendForecastPropertyType">
      <sequence>
         <element ref="iwxxm:AerodromeSurfaceWindTrendForecast"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>