IWXXM/sigmet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 12.1.1224 ( Build: 1224 )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://icao.int/iwxxm/2021-2" xmlns:iwxxm="http://icao.int/iwxxm/2021-2" version="4.0.0RC2" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:metce="http://def.wmo.int/metce/2013">
	<xs:include schemaLocation="common.xsd"/>
	<xs:import namespace="http://def.wmo.int/metce/2013" schemaLocation="http://schemas.wmo.int/metce/1.2/metce.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:annotation>
		<xs:documentation>SIGMET reporting constructs as defined in ICAO Annex 3 / WMO No. 49-2.

SIGMETs report the occurrence and/or expected occurrence of specified en-route weather phenomena which may affect the safety of aircraft operations, and of the development of those phenomena in time and space.  These weather phenomena are reported as impacted regions of airspace.

References to WMO and ICAO Technical Regulations within this XML schema shall have no formal status and are for information purposes only. Where there are differences between the Technical Regulations and the schema, the Technical Regulations shall take precedence. Technical Regulations may impose requirements that are not described in this schema.</xs:documentation>
	</xs:annotation>
	<xs:element name="analysisAndForecastPositionAnalysis" type="iwxxm:analysisAndForecastPositionAnalysisType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>Conditions observed and/or forecast of the SIGMET phenomenon.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="analysisAndForecastPositionAnalysisType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="analysis" type="iwxxm:SIGMETEvolvingConditionCollectionPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A SIGMET report may include, at a time instant, a phenomenon covering more than one area within the FIR/UIR/CTA.  This translates into observed or forecast conditions at the time instant for each of these reported areas.  All combinations of observations or forecasts of meteorological conditions, including changing conditions, are represented by their own SIGMETEvolvingCondition.

Each analysis has a single SIGMETEvolvingConditionCollection as its result.  </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="forecastPositionAnalysis" type="iwxxm:SIGMETPositionCollectionPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A forecast of the phenomenon at a time instant within the valid period.  This is modeled by SIGMETPosition for individual area of the phenomenon and aggregated into a single SIGMETPositionCollection as a result to forecastPositionAnalysis.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="analysisAndForecastPositionAnalysisPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="iwxxm:analysisAndForecastPositionAnalysis"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="SIGMETEvolvingConditionCollection" type="iwxxm:SIGMETEvolvingConditionCollectionType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>A collection of SIGMETEvolvingConditions, each representing a location where SIGMET observed or forecast conditions exist.  All members of this collection are of type SIGMETEvolvingCondition.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SIGMETEvolvingConditionCollectionType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="phenomenonTime" type="iwxxm:AbstractTimeObjectPropertyType">
						<xs:annotation>
							<xs:documentation>The time at which meteorological phenomena occur</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tropicalCyclonePosition" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The position of a tropical cyclone.  Only be used in a TropicalCycloneSIGMET.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="member" type="iwxxm:SIGMETEvolvingConditionPropertyType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The members of this collection</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="timeIndicator" type="iwxxm:TimeIndicatorType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SIGMETEvolvingConditionCollectionPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="iwxxm:SIGMETEvolvingConditionCollection"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="SIGMETEvolvingCondition" type="iwxxm:SIGMETEvolvingConditionType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>Conditions that indicate the presence of a specific SIGMET phenomenon such as volcanic ash or a thunderstorm, along with expected changes to the phenomenon such as intensity, speed, and direction.  These conditions are reported with OBS/FCST conditions on all SIGMET types.

TC TOP (ABV and BLW) conditions are represented by the vertical component of the geometry.  For example: CB TOP FL500 is represented as a missing lowerLimit and an upperLimit of 500FL.

In cases where the position covers an entire FIR or CTA, ("ENTIRE CTA or ENTIRE FIR" from ICAO Annex 3 / WMO No. 49-2), the geometry should be an xlink to the AirspaceVolume under geometryComponent of issuingAirTrafficServicesRegion.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SIGMETEvolvingConditionType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="geometry" type="iwxxm:AirspaceVolumePropertyType">
						<xs:annotation>
							<xs:documentation>The expected geographic region(s) affected by the reported phenomenon at a particular time (thunderstorms, volcanic ash, etc.).  This geometry covers all combinations of phenomenon historically reported in ICAO Annex 3 / WMO No. 49-2: a boundary with a base and top, a TC centre position, and a VA line with a width</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="directionOfMotion" type="iwxxm:AngleWithNilReasonType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>This element refers to the expected direction of movement which the phenomenon is moving towards, .e.g, "moving east". When no movement is expected, this is a http://codes.wmo.int/common/nil/inapplicable nilReason and the speedOfMotion will be 0.

This element value is given in degrees from true North. Plane angle unit of measure (uom) is "deg". </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="speedOfMotion" type="gml:SpeedType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The expected speed of movement of a meteorological condition. When no movement is expected, this will have a value of 0 and directionOfMotion will have a http://codes.wmo.int/common/nil/inapplicable nilReason.

speedOfMotion can be provided in either two units of measures: "km/h" or "[kn_i]" (knots).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="intensityChange" type="iwxxm:SIGMETExpectedIntensityChangeType"/>
				<xs:attribute name="approximateLocation" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SIGMETEvolvingConditionPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="iwxxm:SIGMETEvolvingCondition"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="SIGMETPositionCollection" type="iwxxm:SIGMETPositionCollectionType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>A collection of SIGMETPositions, each representing a location where meteorological conditions exist.  All members of this collection are of type SIGMETPosition.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SIGMETPositionCollectionType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="phenomenonTime" type="iwxxm:AbstractTimeObjectPropertyType">
						<xs:annotation>
							<xs:documentation>The time at which meteorological phenomena occur</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tropicalCyclonePosition" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The position of a tropical cyclone.  Only be used in a TropicalCycloneSIGMET.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="member" type="iwxxm:SIGMETPositionPropertyType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The members of this collection</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SIGMETPositionCollectionPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="iwxxm:SIGMETPositionCollection"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="SIGMETPosition" type="iwxxm:SIGMETPositionType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>Conditions that indicate the presence of a specific SIGMET phenomenon such as volcanic ash or a thunderstorm.  Used to represent the forecast positions of SIGMET phenomena.

TC TOP (ABV and BLW) conditions are represented by the vertical component of the geometry.  For example: CB TOP FL500 is represented as a missing lowerLimit and an upperLimit of 500FL.

In cases where the position covers an entire FIR or CTA, ("ENTIRE CTA or ENTIRE FIR" from ICAO Annex 3 / WMO No. 49-2), the geometry should be an xlink to the AirspaceVolume under geometryComponent of issuingAirTrafficServicesRegion.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SIGMETPositionType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="geometry" type="iwxxm:AirspaceVolumePropertyType">
						<xs:annotation>
							<xs:documentation>The geographic region affected by the reported phenomenon at a particular time (thunderstorms, volcanic ash, etc.).  This geometry covers all combinations of phenomenon historically reported in Annex 3: a boundary with a base and top, a TC centre position, and a VA line with a width</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="approximateLocation" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SIGMETPositionPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="iwxxm:SIGMETPosition"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="SIGMET" type="iwxxm:SIGMETType" substitutionGroup="iwxxm:Report">
		<xs:annotation>
			<xs:documentation>A SIGMET (significant meteorological) report. SIGMETs report the occurrence and/or expected occurrence of specified en-route weather phenomena which may affect the safety of aircraft operations, and of the development of those phenomena over time.

The SIGMET report class represents the base SIGMET types that may be reported such as squall lines, thunderstorms, dust storms, turbulence, etc. Tropical cyclone and volcanic ash SIGMET reports are subclasses of SIGMET due to their ability to report additional information, including volcano/tropical cyclone identification and forecast position(s).

SIGMETs may report either observed or forecast hazardous conditions. Additionally, a forecast position may be reported.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SIGMETType">
		<xs:complexContent>
			<xs:extension base="iwxxm:ReportType">
				<xs:sequence>
					<xs:element name="issueTime" type="gml:TimeInstantPropertyType">
						<xs:annotation>
							<xs:documentation>The time at which this report was issued</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="issuingAirTrafficServicesUnit" type="iwxxm:UnitPropertyType">
						<xs:annotation>
							<xs:documentation>The ATS unit serving the FIR or CTA to which the SIGMET refers

ICAO Annex 3 / WMO No. 49-2:
A6-1: "Location indicator of FIR/CTA"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="originatingMeteorologicalWatchOffice" type="iwxxm:UnitPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>MWO originating this report</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="issuingAirTrafficServicesRegion" type="iwxxm:AirspacePropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The ATS region (FIR, UIR, CTA, or FIR/UIR)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sequenceNumber" type="iwxxm:StringWithNilReasonType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The sequence number of this message.  For example: "5", "A3", or "2"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validPeriod" type="gml:TimePeriodPropertyType">
						<xs:annotation>
							<xs:documentation>The valid period for the entire report covering all observations and forecast conditions.  Each observation/forecast phenomenon includes its own temporal description for the described meteorological conditions, which is represented as phenomenonTime.

For example, an issued tropical cyclone SIGMET may be valid from 1600 UTC to 2200 UTC with an observed position at 1600 UTC and a forecast position of the centre of the tropical cyclone at 2200 UTC.  In this case the SIGMET validPeriod would be 1600 UTC to 2200 UTC, the analysis phenomenonTime would be 1600 UTC, and the forecastPositionAnalysis phenomenonTime would be 2200 UTC.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cancelledReportSequenceNumber" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The sequence number of a previous SIGMET that is cancelled by this SIGMET.  Mandatory when this is a cancellation report, must be missing otherwise

Examples:
YUDD SIGMET 2 VALID ...
YUDD SIGMET A3 VALID ...</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cancelledReportValidPeriod" type="gml:TimePeriodPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The valid period of a previous SIGMET that is cancelled by this SIGMET.  Mandatory when this is a cancellation report, must be missing otherwise</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phenomenon" type="iwxxm:AeronauticalSignificantWeatherPhenomenonType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The reported phenomenon, such as thunderstorm, tropical cyclone, icing, mountain wave, etc.

The expected end of occurrence of volcanic ash ("NO VA EXP") is indicated with a missing SIGMET phenomenon with a nil reason of nothingOfOperationalSignificance</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="analysisCollection" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Observed and/or forecast conditions of the phenomenon.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="iwxxm:analysisAndForecastPositionAnalysis"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="isCancelReport" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SIGMETPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="iwxxm:SIGMET"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="TropicalCycloneSIGMET" type="iwxxm:TropicalCycloneSIGMETType" substitutionGroup="iwxxm:SIGMET">
		<xs:annotation>
			<xs:documentation>A SIGMET that reports the presence of a tropical cyclone conditions.  This extends the base SIGMET type by including additional information necessary for tropical cyclones.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TropicalCycloneSIGMETType">
		<xs:complexContent>
			<xs:extension base="iwxxm:SIGMETType">
				<xs:sequence>
					<xs:element name="supplementaryAnalysisCollection" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Observed and/or forecast conditions of the cumulonimbus clouds associated with a tropical cyclone.  To be used for more than one cumulonimbus clouds simultaneously affecting the FIR concerned.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="iwxxm:analysisAndForecastPositionAnalysis"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="tropicalCyclone" type="metce:TropicalCyclonePropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The tropical cyclone being reported in this SIGMET, required in all cases other than cancellations. When reporting the tropical cyclone name, 'NN' may be used if the tropical cyclone is unnamed</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TropicalCycloneSIGMETPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="iwxxm:TropicalCycloneSIGMET"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="VolcanicAshSIGMET" type="iwxxm:VolcanicAshSIGMETType" substitutionGroup="iwxxm:SIGMET">
		<xs:annotation>
			<xs:documentation>A SIGMET that reports the presence of volcanic ash conditions hazardous to flight.  This extends the base SIGMET type by including additional information necessary for volcanoes and volcanic ash.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VolcanicAshSIGMETType">
		<xs:complexContent>
			<xs:extension base="iwxxm:SIGMETType">
				<xs:sequence>
					<xs:element name="supplementaryAnalysisCollection" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Observed and/or forecast conditions of the volcanic ash clouds.  To be used for more than one volcanic ash clouds simultaneously affecting the FIR concerned.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="iwxxm:analysisAndForecastPositionAnalysis"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="eruptingVolcano" type="metce:VolcanoPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The volcano that is erupting - required in all cases other than cancellations</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="volcanicAshMovedToFIR" type="iwxxm:AirspacePropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The FIR to which volcanic ash has moved.  Reported only on SIGMET cancellation reports</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VolcanicAshSIGMETPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="iwxxm:VolcanicAshSIGMET"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:simpleType name="SIGMETExpectedIntensityChangeType">
		<xs:annotation>
			<xs:documentation>Expected change in intensity for (significant) meteorological phenomena.

See WMO No. 306 Vol I.2 Part B FM 94 BUFR code-table 0 20 028 'Expected change in intensity'</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NO_CHANGE">
				<xs:annotation>
					<xs:documentation>No change (NC)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WEAKEN">
				<xs:annotation>
					<xs:documentation>Forecast to weaken (WKN)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INTENSIFY">
				<xs:annotation>
					<xs:documentation>Forecast to intensify (INTSF)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AeronauticalSignificantWeatherPhenomenon" type="iwxxm:AeronauticalSignificantWeatherPhenomenonType"/>
	<xs:complexType name="AeronauticalSignificantWeatherPhenomenonType">
		<xs:annotation>
			<xs:documentation>Weather phenomenon of significance to aviation operations; used in SIGMET and AIRMET reports. The set of permitted options are defined in ICAO Annex 3 / WMO No. 49-2 C.3.1 sub-clause 1.1.4</xs:documentation>
			<xs:appinfo>
				<vocabulary>http://codes.wmo.int/49-2/SigWxPhenomena</vocabulary>
				<extensibility>none</extensibility>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:ReferenceType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
