IWXXM/taf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" targetNamespace="http://icao.int/iwxxm/3.0" version="3.0.0" xmlns:iwxxm="http://icao.int/iwxxm/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns="http://www.w3.org/2001/XMLSchema">
	<include schemaLocation="common.xsd"></include>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"></import>
	<annotation>
		<documentation>TAF reporting constructs as defined in ICAO Annex 3 / WMO No. 49-2.

An Aerodrome Forecast (TAF) report is a routine forecast of meteorological conditions at an aerodrome intended for distribution.  TAF reports include base forecast conditions, and modifications to those conditions throughout the valid period.

References to WMO and ICAO Technical Regulations within this XML schema shall have no formal status and are for information purposes only. Where there are differences between the Technical Regulations and the schema, the Technical Regulations shall take precedence. Technical Regulations may impose requirements that are not described in this schema.</documentation>
	</annotation>
	<element name="TAF" type="iwxxm:TAFType" substitutionGroup="iwxxm:Report">
		<annotation>
			<documentation>An Aerodrome Forecast (TAF) report is a routine aerodrome forecast intended for distribution beyond an aerodrome.  TAF reports report base forecast conditions, and modifications to those conditions throughout the valid period.

TAF reports include similar information to a METAR/SPECI trend forecast. However, TAF forecast information includes additional detail.

Aerodromes can issue both METAR/SPECI and TAF reports on a routine basis, but TAFs are not issued by every METAR-reporting aerodrome.

The issuance of a new forecast by a meteorological office, such as a TAF, cancels any forecast of the same type previously issued for the same place and for the same period of validity or part thereof.

Prevailing conditions and forecast changes differ in that the prevailing conditions can include temperatures, base conditions do not include a change indicator, and that forecast changes may report no significant weather (NSW). Rather than have two class hierarchies, constraints are present ensuring that each (base and forecast conditions) only include relevant information</documentation>
		</annotation>
	</element>
	<complexType name="TAFType">
		<complexContent>
			<extension base="iwxxm:ReportType">
				<sequence>
					<element name="issueTime" type="gml:TimeInstantPropertyType">
						<annotation>
							<documentation>The time at which this report was issued.  Note that this should be identical to the resultTime of each MeteorologicalAerodromeForecast, whose results are made available at the same time as this report.  TAF reports have an issueTime to assist in discovery and to provide unambiguous semantics at the report level.</documentation>
						</annotation>
					</element>
					<element name="aerodrome" type="iwxxm:AirportHeliportPropertyType">
						<annotation>
							<documentation>The aerodrome location for this report</documentation>
						</annotation>
					</element>
					<element name="validPeriod" type="gml:TimePeriodPropertyType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>The time frame at which this report is valid.  All forecast elements should be valid within this period</documentation>
						</annotation>
					</element>
					<element name="cancelledReportValidPeriod" type="gml:TimePeriodPropertyType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>The valid time period for the previously cancelled report</documentation>
						</annotation>
					</element>
					<element name="baseForecast" type="iwxxm:MeteorologicalAerodromeForecastPropertyType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>The prevailing conditions.  Mandatory in all cases except missing or cancelled reports</documentation>
						</annotation>
					</element>
					<element name="changeForecast" type="iwxxm:MeteorologicalAerodromeForecastPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Forecast that modifies the base forecast.  While there is no maximum number of forecasts, this should normally not exceed five in number. ICAO Annex 3 / WMO No. 49-2: Section 1.5: "The number of change and probability groups should be kept to a minimum and should not normally exceed five groups".</documentation>
						</annotation>
					</element>
					<element name="extension" type="iwxxm:ExtensionType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Extension block for optional and/or additional parameters for element TAF</documentation>
						</annotation>
					</element>
				</sequence>
				<attribute name="isCancelReport" type="boolean">
					<annotation>
						<documentation>Indicates whether the report is a 'CANCELLATION' report (true) which cancels a previously issued report or not (false or empty).</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TAFPropertyType">
		<sequence minOccurs="0">
			<element ref="iwxxm:TAF"></element>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"></attributeGroup>
		<attributeGroup ref="gml:OwnershipAttributeGroup"></attributeGroup>
	</complexType>
	<element name="MeteorologicalAerodromeForecast" type="iwxxm:MeteorologicalAerodromeForecastType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>Meteorological conditions forecast at an aerodrome.  This class is also related but not identical to MeteorologicalAerodromeTrendForecast, which is reported on a METAR/SPECI - conditions reported in trend forecasts in METAR/SPECI differ from forecast groups in a TAF.

When no clouds of operational significance or no weather of operational significance is predicted, the nothingOfOperationalSignificance nilReason should be used for the cloud or presentWeather association.

Note that the TAC representations for "FM", "TL", and "AT" are represented by the phenomenonTime on the change forecast (MeteorologicalAerodromeForecast):
    FM and TL - a phenomenonTime with a TimePeriod (start is FM and end is TL)
    TL - a phenomenonTime with a TimePeriod (start is beginning of forecast validity and end is TL)
    FM - a phenomenonTime with a TimePeriod (start is FM and end is end of forecast validity)
    AT - a phenomenonTime with a TimeInstant</documentation>
		</annotation>
	</element>
	<complexType name="MeteorologicalAerodromeForecastType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="phenomenonTime" type="gml:TimePeriodPropertyType">
						<annotation>
							<documentation>The time at which the reported phenomena or change of phenomena occur.  For change indicators of FROM, PROB 30/40, and TEMPO this is the period of time at which reported meteorological conditions occur.  For BECOMING conditions this represents the time over which conditions are changing.  This is equivalent to how time information is reported in the TAC codes</documentation>
						</annotation>
					</element>
					<element name="prevailingVisibility" type="gml:LengthType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>The prevailing horizontal visibility, mandatory except when ceiling and visibility is reported as OK

Prevailing horizontal visibility shall be reported in meters ("m").</documentation>
							<appinfo>
								<quantity>http://codes.wmo.int/common/quantity-kind/aeronauticalPrevailingHorizontalVisibility</quantity>
							</appinfo>
						</annotation>
					</element>
					<element name="prevailingVisibilityOperator" type="iwxxm:RelationalOperatorType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>The reported relational operator for the prevailing horizontal visibility.  When reported, this operator is reported in conjunction with prevailing visibility.

To report a prevailing visibility of at least 10000 meters, prevailing visibility is reported as 10000 meters and the operator is reported as "above".

When no operator is reported, prevailing visibility represents an exact value with identical semantics to other measured quantities</documentation>
						</annotation>
					</element>
					<element name="surfaceWind" type="iwxxm:AerodromeSurfaceWindForecastPropertyType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Forecast of surface wind.</documentation>
						</annotation>
					</element>
					<element name="weather" type="iwxxm:AerodromeForecastWeatherType" minOccurs="0" maxOccurs="3">
						<annotation>
							<documentation>Forecast of weather phenomena.</documentation>
						</annotation>
					</element>
					<element name="cloud" type="iwxxm:AerodromeCloudForecastPropertyType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Forecast of cloud.</documentation>
						</annotation>
					</element>
					<element name="temperature" type="iwxxm:AerodromeAirTemperatureForecastPropertyType" minOccurs="0" maxOccurs="2">
						<annotation>
							<documentation>Forecast of temperature.</documentation>
						</annotation>
					</element>
					<element name="extension" type="iwxxm:ExtensionType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Extension block for optional and/or additional parameters for element MeteorologicalAerodromeForecast</documentation>
						</annotation>
					</element>
				</sequence>
				<attribute name="changeIndicator" type="iwxxm:AerodromeForecastChangeIndicatorType">
					<annotation>
						<documentation>The type of change being reported (FROM, BECOMING,  TEMPORARY, etc.).

A change indicator is required for all MeteorologicalAerodromeForecasts excepting reported base conditions.</documentation>
					</annotation>
				</attribute>
				<attribute use="required" name="cloudAndVisibilityOK" type="boolean">
					<annotation>
						<documentation>When true, indicates that the following conditions occur simultaneously at the time of forecast (also know as "CAVOK"):

a) visibility, 10km or more, and the lowest visibility is not reported
b) no cloud of operational significance
c) no weather of significance to aviation

Information on visibility, runway visual range, present weather and cloud amount, cloud type and height of cloud base shall not be reported.  See ICAO Annex 3 / WMO No. 49-2 Section 2.2.</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MeteorologicalAerodromeForecastPropertyType">
		<sequence minOccurs="0">
			<element ref="iwxxm:MeteorologicalAerodromeForecast"></element>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"></attributeGroup>
		<attributeGroup ref="gml:OwnershipAttributeGroup"></attributeGroup>
	</complexType>
	<element name="AerodromeAirTemperatureForecast" type="iwxxm:AerodromeAirTemperatureForecastType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>An aggregation of air temperature forecast conditions typically reported together at an aerodrome, including the minimum and maximum anticipated air temperatures and when they occur.

AerodromeAirTemperatureForecast is only reported on base conditions on a TAF, not change forecasts.</documentation>
		</annotation>
	</element>
	<complexType name="AerodromeAirTemperatureForecastType">
		<sequence>
			<element name="maximumAirTemperature" type="gml:MeasureType">
				<annotation>
					<documentation>The maximum air temperature expressed in degrees Celsius ("Cel")

ICAO Annex 3 / WMO No. 49-2:
"TX"</documentation>
					<appinfo>
						<quantity>http://codes.wmo.int/common/quantity-kind/airTemperature</quantity>
					</appinfo>
				</annotation>
			</element>
			<element name="maximumAirTemperatureTime" type="gml:TimeInstantPropertyType">
				<annotation>
					<documentation>The time of occurrence of the maximum air temperature.  This must be within the period of the phenomenon time for this forecast record

ICAO Annex 3 / WMO No. 49-2:
"TX"</documentation>
				</annotation>
			</element>
			<element name="minimumAirTemperature" type="gml:MeasureType">
				<annotation>
					<documentation>The minimum air temperature expressed in degrees Celsius ("Cel")

ICAO Annex 3 / WMO No. 49-2:
"TN"</documentation>
					<appinfo>
						<quantity>http://codes.wmo.int/common/quantity-kind/airTemperature</quantity>
					</appinfo>
				</annotation>
			</element>
			<element name="minimumAirTemperatureTime" type="gml:TimeInstantPropertyType">
				<annotation>
					<documentation>The time of occurrence of the minimum air temperature.  This must be within the period of the phenomenon time for this forecast record

ICAO Annex 3 / WMO No. 49-2:
"TN"</documentation>
				</annotation>
			</element>
			<element name="extension" type="iwxxm:ExtensionType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Extension block for optional and/or additional parameters for element AerodromeAirTemperatureForecast</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="AerodromeAirTemperatureForecastPropertyType">
		<sequence>
			<element ref="iwxxm:AerodromeAirTemperatureForecast"></element>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"></attributeGroup>
	</complexType>
	<simpleType name="AerodromeForecastChangeIndicatorType">
		<annotation>
			<documentation>The forecast change indicator type, including temporary, permanent, or probable conditions.  This is an extension of ForecastChangeIndicator that includes report-specific entries, and in particular the 30 and 40% probability conditions.

Note that the TAC representations for "FM", "TL", and "AT" are represented by the phenomenonTime on the change forecast (MeteorologicalAerodromeForecast):
    FM and TL - a phenomenonTime with a TimePeriod (start is FM and end is TL)
    TL - a phenomenonTime with a TimePeriod (start is beginning of forecast validity and end is TL)
    FM - a phenomenonTime with a TimePeriod (start is FM and end is end of forecast validity)
    AT - a phenomenonTime with a TimeInstant</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="BECOMING">
				<annotation>
					<documentation>Conditions are expected to reach or pass through specified threshold values at a regular or irregular rate and at an unspecified time during the time period.  The time period should normally not exceed 2 hours but in any case should not exceed 4 hours.

ICAO Annex 3 / WMO No. 49-2:
"BECMG"</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TEMPORARY_FLUCTUATIONS">
				<annotation>
					<documentation>Expected temporary fluctuations to meteorological conditions which reach or pass specified threshold criteria and last for a period of less than one hour in each instance and in the aggregate cover less than half of the forecast period during which the fluctuations are expected to occur.

ICAO Annex 3 / WMO No. 49-2:
"TEMPO"</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FROM">
				<annotation>
					<documentation>One set of prevailing weather conditions is expected to change significantly and more or less completely to a different set of conditions. Conditions in a FROM group supersede conditions in earlier groups.

ICAO Annex 3 / WMO No. 49-2:
"FM"</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PROBABILITY_30">
				<annotation>
					<documentation>A 30% probability of occurrence of an alternative value of a forecast element or elements.

ICAO Annex 3 / WMO No. 49-2:
"PROB30"</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PROBABILITY_30_TEMPORARY_FLUCTUATIONS">
				<annotation>
					<documentation>A 30% probability of occurrence of temporary conditions of an alternative value of a forecast element or elements.

ICAO Annex 3 / WMO No. 49-2:
"PROB30 TEMPO"</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PROBABILITY_40">
				<annotation>
					<documentation>A 40% probability of occurrence of an alternative value of a forecast element or elements.

ICAO Annex 3 / WMO No. 49-2:
"PROB40"</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PROBABILITY_40_TEMPORARY_FLUCTUATIONS">
				<annotation>
					<documentation>A 40% probability of occurrence of temporary conditions of an alternative value of a forecast element or elements.

ICAO Annex 3 / WMO No. 49-2:
"PROB40 TEMPO"</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
</schema>
